<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 xml문서와 맵핑할 인터페이스 경로, 이름 -->
<mapper namespace="com.spring.mapper.AcademyMapper">
	<resultMap type="com.spring.academy.ClassVO" id="classResultMap">
		<result property="CLASS_NUMBER" column="CLASS_NUMBER" />	
		<result property="WORKSHOP_NUM" column="WORKSHOP_NUM" />
		<result property="WORKSHOP_NAME" column="WORKSHOP_NAME" />
		<result property="WORKSHOP_PICTURE" column="WORKSHOP_PICTURE" />
		<result property="CLASS_DIVISION" column="CLASS_DIVISION" />	
		<result property="CLASS_NAME" column="CLASS_NAME" />	
		<result property="CLASS_ABRIEF" column="CLASS_ABRIEF" />	
		<result property="CLASS_AMOUNT" column="CLASS_AMOUNT" />	
		<result property="CLASS_DATE" column="CLASS_DATE" />	
		<result property="CLASS_DATE_CONFIGURATION_1" column="CLASS_DATE_CONFIGURATION_1" />	
		<result property="CLASS_DATE_CONFIGURATION_2" column="CLASS_DATE_CONFIGURATION_2" />	
		<result property="CLASS_AREA" column="CLASS_AREA" />	
		<result property="CLASS_CATEGORY" column="CLASS_CATEGORY" />	
		<result property="CLASS_INTRODUCTION_1" column="CLASS_INTRODUCTION_1" />	
		<result property="CLASS_INTRODUCTION_2" column="CLASS_INTRODUCTION_2" />	
		<result property="CLASS_INTRODUCTION_3" column="CLASS_INTRODUCTION_3" />	
		<result property="CLASS_ETC" column="CLASS_ETC" />	
		<result property="CLASS_BANNER" column="CLASS_BANNER" />	
		<result property="CLASS_IMAGE" column="CLASS_IMAGE" />
		<result property="CLASS_ADDRESS" column="CLASS_ADDRESS" />
		<result property="CLASS_DETAIL_ADDRESS" column="CLASS_DETAIL_ADDRESS" />
		<result property="CLASS_COUNT_MEMBER" column="CLASS_COUNT_MEMBER" />
		<result property="CLASS_STATUS" column="CLASS_STATUS" />
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="CLASS_NUMBER" column="CLASS_NUMBER" />	
		<result property="WORKSHOP_NUM" column="WORKSHOP_NUM" />
		<result property="WORKSHOP_NAME" column="WORKSHOP_NAME" />
		<result property="WORKSHOP_PICTURE" column="WORKSHOP_PICTURE" />
		<result property="CLASS_DIVISION" column="CLASS_DIVISION" />	
		<result property="CLASS_NAME" column="CLASS_NAME" />	
		<result property="CLASS_ABRIEF" column="CLASS_ABRIEF" />	
		<result property="CLASS_AMOUNT" column="CLASS_AMOUNT" />	
		<result property="CLASS_DATE" column="CLASS_DATE" />	
		<result property="CLASS_DATE_CONFIGURATION_1" column="CLASS_DATE_CONFIGURATION_1" />	
		<result property="CLASS_DATE_CONFIGURATION_2" column="CLASS_DATE_CONFIGURATION_2" />	
		<result property="CLASS_AREA" column="CLASS_AREA" />	
		<result property="CLASS_CATEGORY" column="CLASS_CATEGORY" />	
		<result property="CLASS_INTRODUCTION_1" column="CLASS_INTRODUCTION_1" />	
		<result property="CLASS_INTRODUCTION_2" column="CLASS_INTRODUCTION_2" />	
		<result property="CLASS_INTRODUCTION_3" column="CLASS_INTRODUCTION_3" />	
		<result property="CLASS_ETC" column="CLASS_ETC" />	
		<result property="CLASS_BANNER" column="CLASS_BANNER" />	
		<result property="CLASS_IMAGE" column="CLASS_IMAGE" />	
		<result property="CLASS_ADDRESS" column="CLASS_ADDRESS" />
		<result property="CLASS_DETAIL_ADDRESS" column="CLASS_DETAIL_ADDRESS" />
		<result property="CLASS_COUNT_MEMBER" column="CLASS_COUNT_MEMBER" />
		<result property="CLASS_STATUS" column="CLASS_STATUS" />
	</resultMap>
	
	<resultMap type="com.spring.workshop.WorkShopMemberVO" id="workshopMemberResultMap">
		<result property="WORKSHOP_NUM" column="WORKSHOP_NUM" />
		<result property="WORKSHOP_EMAIL" column="WORKSHOP_EMAIL" />
		<result property="WORKSHOP_PASS" column="WORKSHOP_PASS" />
		<result property="WORKSHOP_NAME" column="WORKSHOP_NAME" />
		<result property="WORKSHOP_CEO_NAME" column="WORKSHOP_CEO_NAME" />
		<result property="WORKSHOP_PHONE" column="WORKSHOP_PHONE" />
		<result property="WORKSHOP_ZIP" column="WORKSHOP_ZIP" />
		<result property="WORKSHOP_ADDRESS1" column="WORKSHOP_ADDRESS1" />
		<result property="WORKSHOP_ADDRESS2" column="WORKSHOP_ADDRESS2" />
		<result property="WORKSHOP_LICENSE" column="WORKSHOP_LICENSE" />
		<result property="WORKSHOP_DATE" column="WORKSHOP_DATE" />		
		<result property="WORKSHOP_INTRO" column="WORKSHOP_INTRO" />		
		<result property="WORKSHOP_OWNER" column="WORKSHOP_OWNER" />		
		<result property="WORKSHOP_BANK" column="WORKSHOP_BANK" />
		<result property="WORKSHOP_ACNUM" column="WORKSHOP_ACNUM" />
		<result property="WORKSHOP_STATUS" column="WORKSHOP_STATUS" />
		<result property="WORKSHOP_PICTURE" column="WORKSHOP_PICTURE" />
	</resultMap>
	
	<resultMap type="com.spring.academy.MyClassVO" id="myclassResultMap">
		<result property="MY_CLASS_NUM" column="MY_CLASS_NUM" />	
		<result property="MY_CLASS_MEMBERNUM" column="MY_CLASS_MEMBERNUM" />
		<result property="MY_CLASS_CLASSNUM" column="MY_CLASS_CLASSNUM" />
		<result property="MY_CLASS_STATUS" column="MY_CLASS_STATUS" />
	</resultMap>
	
	<insert id="insertClassInfo" parameterType="com.spring.academy.MyClassVO">
		<selectKey resultType="int" keyProperty="MY_CLASS_NUM" order="BEFORE">
			SELECT my_class_seq.nextval FROM dual     
		</selectKey>
 		INSERT INTO my_class(MY_CLASS_NUM, MY_CLASS_MEMBERNUM, MY_CLASS_CLASSNUM) 
			 		VALUES(#{MY_CLASS_NUM}, #{MY_CLASS_MEMBERNUM}, #{MY_CLASS_CLASSNUM})
 	</insert>

	 
	<select id="getClassList" parameterType="java.util.HashMap" resultMap="classResultMap">
		SELECT * 
		FROM (SELECT ROWNUM RNUM, WORKSHOP_NUM, WORKSHOP_NAME, WORKSHOP_PICTURE, CLASS_NUMBER, CLASS_DIVISION, CLASS_NAME, CLASS_ABRIEF, CLASS_AMOUNT, CLASS_DATE, 
			  CLASS_DATE_CONFIGURATION_1, CLASS_DATE_CONFIGURATION_2, CLASS_AREA, CLASS_CATEGORY, CLASS_INTRODUCTION_1, CLASS_INTRODUCTION_2, CLASS_INTRODUCTION_3, 
			  CLASS_ETC, CLASS_BANNER, CLASS_IMAGE, CLASS_ADDRESS, CLASS_DETAIL_ADDRESS, CLASS_COUNT_MEMBER, CLASS_STATUS
			  FROM (SELECT * 
			  		FROM academy
					<if test="CLASS_CATEGORY != 'all'"> WHERE CLASS_CATEGORY = #{CLASS_CATEGORY} AND</if>
					<if test="CLASS_AREA != '지역'"> WHERE CLASS_AREA = #{CLASS_AREA}</if>
					ORDER BY CLASS_DATE DESC))
					<!-- [CDATA[ WHERE RNUM >= #{startrow} AND RNUM <= #{endrow} ]]-->  
 	</select>

	 
	<insert id="insertClass" parameterType="com.spring.academy.ClassVO">
 		INSERT INTO academy(CLASS_NUMBER, WORKSHOP_NUM, WORKSHOP_NAME, WORKSHOP_PICTURE, CLASS_DIVISION, CLASS_NAME, CLASS_ABRIEF, 
 								 CLASS_AMOUNT, CLASS_DATE, CLASS_DATE_CONFIGURATION_1, CLASS_DATE_CONFIGURATION_2, CLASS_AREA, CLASS_CATEGORY, 
			  					 CLASS_INTRODUCTION_1, CLASS_INTRODUCTION_2, CLASS_INTRODUCTION_3, CLASS_ETC, CLASS_BANNER, 
			  					 CLASS_IMAGE, CLASS_ADDRESS, CLASS_DETAIL_ADDRESS, CLASS_STATUS) 
			 		VALUES(academy_seq.nextval, #{WORKSHOP_NUM}, #{WORKSHOP_NAME}, #{WORKSHOP_PICTURE}, #{CLASS_DIVISION}, #{CLASS_NAME}, #{CLASS_ABRIEF}, 
			 			   #{CLASS_AMOUNT}, SYSDATE, #{CLASS_DATE_CONFIGURATION_1}, #{CLASS_DATE_CONFIGURATION_2}, #{CLASS_AREA}, #{CLASS_CATEGORY}, 
			 			   #{CLASS_INTRODUCTION_1}, #{CLASS_INTRODUCTION_2}, #{CLASS_INTRODUCTION_3}, #{CLASS_ETC}, #{CLASS_BANNER}, 
			 			   #{CLASS_IMAGE}, #{CLASS_ADDRESS}, #{CLASS_DETAIL_ADDRESS}, 1)
 	</insert>
 	

	<select id="getCount" parameterType="java.util.HashMap" resultType="int"> <!-- 갯수구함, resultType="int"은 생략가능, -->
 		SELECT count(*) FROM academy  
		<if test="CLASS_CATEGORY != 'all'"> WHERE CLASS_CATEGORY=#{CLASS_CATEGORY}  </if>
		<!-- [CDATA[ WHERE rnum >= #{startrow} AND rnum <= #{endrow} ]]-->
 	</select>
 	
 	<select id="getDetail" parameterType="com.spring.academy.ClassVO" resultMap="classResultMap"> 
 		SELECT * FROM academy WHERE CLASS_NUMBER = #{CLASS_NUMBER}
 	</select>
 	
 	<select id="selectWMember" parameterType="com.spring.academy.ClassVO" resultMap="workshopMemberResultMap">
		SELECT * FROM nagagu_workshop_member WHERE WORKSHOP_NUM = #{WORKSHOP_NUM}
	</select>
	
	<update id="countUp" parameterType="com.spring.academy.ClassVO">
		update academy set CLASS_COUNT_MEMBER = CLASS_COUNT_MEMBER + 1 where CLASS_NUMBER = #{CLASS_NUMBER}
	</update>
	
	<!-- 경태 마이페이지 내강의 목록 -->
	<select id="getLoginMemberClass" parameterType="java.util.HashMap" resultMap="classResultMap">
		SELECT * FROM ACADEMY, MY_CLASS
		WHERE MY_CLASS_MEMBERNUM = #{MEMBER_NUM} AND MY_CLASS_CLASSNUM=CLASS_NUMBER
	</select>
	<select id="getClassListOfMember" parameterType="java.util.HashMap" resultMap="classResultMap">
		SELECT * FROM ACADEMY WHERE WORKSHOP_NUM=#{WORKSHOP_NUM} ORDER BY CLASS_NUMBER DESC
	</select>
</mapper>
