<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
CREATE TABLE REGISTRATION (
    CLASS_NUMBER number primary key,
    CLASS_DIVISION varchar2(200),
    CLASS_NAME varchar2(200),
    CLASS_ABRIEF varchar2(200),
    CLASS_AMOUNT number,
    CLASS_DATE date,
    CLASS_DATE_CONFIGURATION_1 date,
    CLASS_DATE_CONFIGURATION_2 date,
    CLASS_AREA varchar2(200),
    CLASS_CATEGORY varchar2(200),
    CLASS_INTRODUCTION_1 varchar2(2000),
    CLASS_INTRODUCTION_2 varchar2(2000),
    CLASS_INTRODUCTION_3 varchar2(2000),
    CLASS_ETC varchar2(200),
    CLASS_BANNER varchar2(2000),
    CLASS_IMAGE varchar2(2000),
    CLASS_ADDRESS varchar2(200),
    CLASS_DETAIL_ADDRESS varchar2(200)
);

create sequence REGISTRATION_SEQ
  start with 1
  increment by 1
  maxvalue 100000;

-->


<!-- 이 xml문서와 맵핑할 인터페이스 경로, 이름 -->
<mapper namespace="com.spring.mapper.AcademyMapper">
	<resultMap type="com.spring.academy.ClassVO" id="classResultMap">
		<result property="CLASS_NUMBER" column="CLASS_NUMBER" />	
		<result property="CLASS_DIVISION" column="CLASS_DIVISION" />	
		<result property="CLASS_NAME" column="CLASS_NAME" />	
		<result property="CLASS_ABRIEF" column="CLASS_ABRIEF" />	
		<result property="CLASS_AMOUNT" column="CLASS_AMOUNT" />	
		<result property="CLASS_DATE" column="CLASS_DATE" />	
		<result property="CLASS_DATE_CONFIGURATION_1" column="CLASS_DATE_CONFIGURATION_1" />	
		<result property="CLASS_DATE_CONFIGURATION_2" column="CLASS_DATE_CONFIGURATION_2" />	
		<result property="CLASS_AREA" column="CLASS_AREA" />	
		<result property="CLASS_CATEGORY" column="CLASS_CATEGORY" />	
		<result property="CLASS_INTRODUCTION1" column="CLASS_INTRODUCTION1" />	
		<result property="CLASS_INTRODUCTION2" column="CLASS_INTRODUCTION2" />	
		<result property="CLASS_INTRODUCTION3" column="CLASS_INTRODUCTION3" />	
		<result property="CLASS_ETC" column="CLASS_ETC" />	
		<result property="CLASS_BANNER" column="CLASS_BANNER" />	
		<result property="CLASS_IMAGE" column="CLASS_IMAGE" />	
		<result property="CLASS_ADDRESS" column="CLASS_ADDRESS" />	
		<result property="CLASS_DETAIL_ADDRESS" column="CLASS_DETAIL_ADDRESS" />
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="CLASS_NUMBER" column="CLASS_NUMBER" />	
		<result property="CLASS_DIVISION" column="CLASS_DIVISION" />	
		<result property="CLASS_NAME" column="CLASS_NAME" />	
		<result property="CLASS_ABRIEF" column="CLASS_ABRIEF" />	
		<result property="CLASS_AMOUNT" column="CLASS_AMOUNT" />	
		<result property="CLASS_DATE" column="CLASS_DATE" />	
		<result property="CLASS_DATE_CONFIGURATION_1" column="CLASS_DATE_CONFIGURATION_1" />	
		<result property="CLASS_DATE_CONFIGURATION_2" column="CLASS_DATE_CONFIGURATION_2" />	
		<result property="CLASS_AREA" column="CLASS_AREA" />	
		<result property="CLASS_CATEGORY" column="CLASS_CATEGORY" />	
		<result property="CLASS_INTRODUCTION_1" column="CLASS_INTRODUCTION_1" />	
		<result property="CLASS_INTRODUCTION_2" column="CLASS_INTRODUCTION_2" />	
		<result property="CLASS_INTRODUCTION_3" column="CLASS_INTRODUCTION_3" />	
		<result property="CLASS_ETC" column="CLASS_ETC" />	
		<result property="CLASS_BANNER" column="CLASS_BANNER" />	
		<result property="CLASS_IMAGE" column="CLASS_IMAGE" />	
		<result property="CLASS_ADDRESS" column="CLASS_ADDRESS" />
		<result property="CLASS_DETAIL_ADDRESS" column="CLASS_DETAIL_ADDRESS" />
	</resultMap>

	 
	<select id="getClassList" parameterType="java.util.HashMap" resultMap="classResultMap">
		SELECT * 
		FROM (SELECT rownum rnum, CLASS_NUMBER, CLASS_DIVISION, CLASS_NAME, CLASS_ABRIEF, CLASS_AMOUNT, CLASS_DATE, 
			  CLASS_DATE_CONFIGURATION_1, CLASS_DATE_CONFIGURATION_2, CLASS_AREA, CLASS_CATEGORY, 
			  CLASS_INTRODUCTION_1, CLASS_INTRODUCTION_2, CLASS_INTRODUCTION_3, CLASS_ETC, CLASS_BANNER, CLASS_IMAGE, CLASS_ADDRESS, CLASS_DETAIL_ADDRESS
			  FROM (SELECT * 
			  		FROM registration
					<if test="CLASS_CATEGORY != 'all'"> WHERE CLASS_CATEGORY = #{CLASS_CATEGORY}  </if>
					ORDER BY <if test="sort == 'new'"> CLASS_DATE </if> DESC))
					<![CDATA[ WHERE rnum >= #{startrow} AND rnum <= #{endrow} ]]>  
 	</select>

	 
	<insert id="insertClass" parameterType="com.spring.academy.ClassVO">
 		INSERT INTO registration(CLASS_NUMBER, CLASS_DIVISION, CLASS_NAME, CLASS_ABRIEF, CLASS_AMOUNT, CLASS_DATE, 
			  					 CLASS_DATE_CONFIGURATION_1, CLASS_DATE_CONFIGURATION_2, CLASS_AREA, CLASS_CATEGORY, 
			  					 CLASS_INTRODUCTION_1, CLASS_INTRODUCTION_2, CLASS_INTRODUCTION_3, CLASS_ETC, CLASS_BANNER, 
			  					 CLASS_IMAGE, CLASS_ADDRESS, CLASS_DETAIL_ADDRESS) 
 		VALUES(registration_seq.nextval, #{CLASS_DIVISION}, #{CLASS_NAME}, #{CLASS_ABRIEF}, #{CLASS_AMOUNT}, sysdate,
 			   #{CLASS_DATE_CONFIGURATION_1}, #{CLASS_DATE_CONFIGURATION_2}, #{CLASS_AREA}, #{CLASS_CATEGORY}, 
 			   #{CLASS_INTRODUCTION_1}, #{CLASS_INTRODUCTION_2}, #{CLASS_INTRODUCTION_3}, #{CLASS_ETC}, #{CLASS_BANNER}, 
 			   #{CLASS_IMAGE}, #{CLASS_ADDRESS}, #{CLASS_DETAIL_ADDRESS})
 	</insert>
 	

	<select id="getCount" parameterType="java.util.HashMap" resultType="int"> <!-- 갯수구함, resultType="int"은 생략가능, -->
 		SELECT count(*) FROM registration  
		<if test="CLASS_CATEGORY != 'all'"> WHERE CLASS_CATEGORY=#{CLASS_CATEGORY}  </if>
		<!-- [CDATA[ WHERE rnum >= #{startrow} AND rnum <= #{endrow} ]]-->
 	</select>
 	
 	<select id="getDetail" parameterType="com.spring.academy.ClassVO" resultMap="classResultMap"> 
 		SELECT * FROM registration WHERE CLASS_NUMBER = #{CLASS_NUMBER}
 	</select>

</mapper>