<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.AcademyManagementMapper">
	<resultMap type="com.spring.academy.ClassVO" id="classResultMap">
		<result property="CLASS_NUMBER" column="CLASS_NUMBER" />	
		<result property="WORKSHOP_NUM" column="WORKSHOP_NUM" />
		<result property="WORKSHOP_NAME" column="WORKSHOP_NAME" />
		<result property="WORKSHOP_PICTURE" column="WORKSHOP_PICTURE" />
		<result property="CLASS_DIVISION" column="CLASS_DIVISION" />	
		<result property="CLASS_NAME" column="CLASS_NAME" />	
		<result property="CLASS_ABRIEF" column="CLASS_ABRIEF" />	
		<result property="CLASS_AMOUNT" column="CLASS_AMOUNT" />	
		<result property="CLASS_DATE" column="CLASS_DATE" />	
		<result property="CLASS_DATE_CONFIGURATION_1" column="CLASS_DATE_CONFIGURATION_1" />	
		<result property="CLASS_DATE_CONFIGURATION_2" column="CLASS_DATE_CONFIGURATION_2" />	
		<result property="CLASS_AREA" column="CLASS_AREA" />	
		<result property="CLASS_CATEGORY" column="CLASS_CATEGORY" />	
		<result property="CLASS_INTRODUCTION_1" column="CLASS_INTRODUCTION_1" />	
		<result property="CLASS_INTRODUCTION_2" column="CLASS_INTRODUCTION_2" />	
		<result property="CLASS_INTRODUCTION_3" column="CLASS_INTRODUCTION_3" />	
		<result property="CLASS_ETC" column="CLASS_ETC" />	
		<result property="CLASS_BANNER" column="CLASS_BANNER" />	
		<result property="CLASS_IMAGE" column="CLASS_IMAGE" />	
		<result property="CLASS_ADDRESS" column="CLASS_ADDRESS" />	
		<result property="CLASS_DETAIL_ADDRESS" column="CLASS_DETAIL_ADDRESS" />
		<result property="CLASS_COUNT_MEMBER" column="CLASS_COUNT_MEMBER" />
		<result property="CLASS_STATUS" column="CLASS_STATUS" />
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="CLASS_NUMBER" column="CLASS_NUMBER" />	
		<result property="WORKSHOP_NUM" column="WORKSHOP_NUM" />
		<result property="WORKSHOP_NAME" column="WORKSHOP_NAME" />
		<result property="WORKSHOP_PICTURE" column="WORKSHOP_PICTURE" />
		<result property="CLASS_DIVISION" column="CLASS_DIVISION" />	
		<result property="CLASS_NAME" column="CLASS_NAME" />	
		<result property="CLASS_ABRIEF" column="CLASS_ABRIEF" />	
		<result property="CLASS_AMOUNT" column="CLASS_AMOUNT" />	
		<result property="CLASS_DATE" column="CLASS_DATE" />	
		<result property="CLASS_DATE_CONFIGURATION_1" column="CLASS_DATE_CONFIGURATION_1" />	
		<result property="CLASS_DATE_CONFIGURATION_2" column="CLASS_DATE_CONFIGURATION_2" />	
		<result property="CLASS_AREA" column="CLASS_AREA" />	
		<result property="CLASS_CATEGORY" column="CLASS_CATEGORY" />	
		<result property="CLASS_INTRODUCTION_1" column="CLASS_INTRODUCTION_1" />	
		<result property="CLASS_INTRODUCTION_2" column="CLASS_INTRODUCTION_2" />	
		<result property="CLASS_INTRODUCTION_3" column="CLASS_INTRODUCTION_3" />	
		<result property="CLASS_ETC" column="CLASS_ETC" />	
		<result property="CLASS_BANNER" column="CLASS_BANNER" />	
		<result property="CLASS_IMAGE" column="CLASS_IMAGE" />	
		<result property="CLASS_ADDRESS" column="CLASS_ADDRESS" />
		<result property="CLASS_DETAIL_ADDRESS" column="CLASS_DETAIL_ADDRESS" />
		<result property="CLASS_COUNT_MEMBER" column="CLASS_COUNT_MEMBER" />
		<result property="CLASS_STATUS" column="CLASS_STATUS" />
	</resultMap>
	
	<resultMap type="com.spring.workshop.WorkShopMemberVO" id="workshopMemberResultMap">
		<result property="WORKSHOP_NUM" column="WORKSHOP_NUM" />
		<result property="WORKSHOP_EMAIL" column="WORKSHOP_EMAIL" />
		<result property="WORKSHOP_PASS" column="WORKSHOP_PASS" />
		<result property="WORKSHOP_NAME" column="WORKSHOP_NAME" />
		<result property="WORKSHOP_CEO_NAME" column="WORKSHOP_CEO_NAME" />
		<result property="WORKSHOP_PHONE" column="WORKSHOP_PHONE" />
		<result property="WORKSHOP_ZIP" column="WORKSHOP_ZIP" />
		<result property="WORKSHOP_ADDRESS1" column="WORKSHOP_ADDRESS1" />
		<result property="WORKSHOP_ADDRESS2" column="WORKSHOP_ADDRESS2" />
		<result property="WORKSHOP_LICENSE" column="WORKSHOP_LICENSE" />
		<result property="WORKSHOP_DATE" column="WORKSHOP_DATE" />		
		<result property="WORKSHOP_INTRO" column="WORKSHOP_INTRO" />		
		<result property="WORKSHOP_OWNER" column="WORKSHOP_OWNER" />		
		<result property="WORKSHOP_BANK" column="WORKSHOP_BANK" />
		<result property="WORKSHOP_ACNUM" column="WORKSHOP_ACNUM" />
		<result property="WORKSHOP_STATUS" column="WORKSHOP_STATUS" />
		<result property="WORKSHOP_PICTURE" column="WORKSHOP_PICTURE" />
	</resultMap>
	
	<resultMap type="com.spring.academy.MyClassVO" id="myclassResultMap">
		<result property="MY_CLASS_NUM" column="MY_CLASS_NUM" />	
		<result property="MY_CLASS_MEMBERNUM" column="MY_CLASS_MEMBERNUM" />
		<result property="MY_CLASS_CLASSNUM" column="MY_CLASS_CLASSNUM" />
		<result property="MY_CLASS_STATUS" column="MY_CLASS_STATUS" />
	</resultMap>
	
	<resultMap type="com.spring.workshopMypage.WsMemberVO" id="myclassMemberResultMap">
		<result property="MY_CLASS_CLASSNUM" column="MY_CLASS_CLASSNUM" />	
		<result property="MY_CLASS_MEMBERNUM" column="MY_CLASS_MEMBERNUM" />
		<result property="CLASS_NAME" column="CLASS_NAME" />
		<result property="CLASS_DIVISION" column="CLASS_DIVISION" />
		<result property="MEMBER_EMAIL" column="MEMBER_EMAIL" />
		<result property="MEMBER_PHONE" column="MEMBER_PHONE" />
		<result property="MEMBER_NUM" column="MEMBER_NUM" />
		<result property="MEMBER_NAME" column="MEMBER_NAME" />
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="classReviewResultMap">
		<result property="CLASS_CATEGORY" column="CLASS_CATEGORY" />
		<result property="CLASS_NAME" column="CLASS_NAME" />
		<result property="CLASS_NUMBER" column="CLASS_NUMBER" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />
		<result property="REVIEW_CLASS" column="REVIEW_CLASS" />
		<result property="REVIEW_DATE" column="REVIEW_DATE" />
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />	
	</resultMap>

	<resultMap type="java.util.HashMap" id="classQnaResultMap">
		<result property="CLASS_CATEGORY" column="CLASS_CATEGORY" />
		<result property="CLASS_NAME" column="CLASS_NAME" />
		<result property="CLASS_NUMBER" column="CLASS_NUMBER" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />
		<result property="QNA_NUM" column="QNA_NUM" />	
		<result property="QNA_MEMBER" column="QNA_MEMBER" />
		<result property="QNA_CLASS" column="QNA_CLASS" />
		<result property="QNA_DATE" column="QNA_DATE" />
		<result property="QNA_CONTENT" column="QNA_CONTENT" />	
		<result property="QNA_RE" column="QNA_RE" />	
		<result property="QNA_STATUS" column="QNA_STATUS" />	
	</resultMap>	
	
	<resultMap type="java.util.HashMap" id="productReviewResultMap">
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />	
		<result property="REVIEW_PRODUCT" column="REVIEW_PRODUCT" />	
		<result property="REVIEW_DATE" column="REVIEW_DATE" />	
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />		
		<result property="MEMBER_NICK" column="MEMBER_NICK" />		
		<result property="MEMBER_PICTURE" column="MEMBER_PICTURE" />		
	</resultMap>
	
	<resultMap type="com.spring.store.ProductVO" id="productResultMap">
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />	
		<result property="PRODUCT_WORKSHOP" column="PRODUCT_WORKSHOP" />	
		<result property="PRODUCT_SHOPNAME" column="PRODUCT_SHOPNAME" />	
		<result property="PRODUCT_DATE" column="PRODUCT_DATE" />	
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />	
		<result property="PRODUCT_BRIEF" column="PRODUCT_BRIEF" />	
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />
		<result property="PRODUCT_PRICE" column="PRODUCT_PRICE" />		
		<result property="PRODUCT_GRADE" column="PRODUCT_GRADE" />		
		<result property="PRODUCT_READ" column="PRODUCT_READ" />
		<result property="PRODUCT_SALES" column="PRODUCT_SALES" />		
		<result property="PRODUCT_LIKE" column="PRODUCT_LIKE" />	
		<result property="PRODUCT_COLOR" column="PRODUCT_COLOR" />			
		<result property="PRODUCT_SIZE" column="PRODUCT_SIZE" />		
		<result property="PRODUCT_INFO" column="PRODUCT_INFO" />		
		<result property="PRODUCT_SHIP_PRICE" column="PRODUCT_SHIP_PRICE" />		
		<result property="PRODUCT_SHIP_COMPANY" column="PRODUCT_SHIP_COMPANY" />		
		<result property="PRODUCT_SHIP_RETURN_PRICE" column="PRODUCT_SHIP_RETURN_PRICE" />		
		<result property="PRODUCT_SHIP_CHANGE_PRICE" column="PRODUCT_SHIP_CHANGE_PRICE" />		
		<result property="PRODUCT_SHIP_RETURN_PLACE" column="PRODUCT_SHIP_RETURN_PLACE" />		
		<result property="PRODUCT_SHIP_DAYS" column="PRODUCT_SHIP_DAYS" />		
		<result property="PRODUCT_SHIP_INFO" column="PRODUCT_SHIP_INFO" />		
		<result property="PRODUCT_AS_INFO" column="PRODUCT_AS_INFO" />		
		<result property="PRODUCT_RETURN_INFO" column="PRODUCT_RETURN_INFO" />		
		<result property="PRODUCT_STORE_INFO" column="PRODUCT_STORE_INFO" />		
		<result property="PRODUCT_BANNER" column="PRODUCT_BANNER" />		
		<result property="PRODUCT_IMAGE" column="PRODUCT_IMAGE" />	
		<result property="PRODUCT_STATUS" column="PRODUCT_STATUS" />
		<result property="PRODUCT_STOCK" column="PRODUCT_STOCK" />
	</resultMap>
	
	
	<select id="getManagementClassList" resultMap="classResultMap">
	    select * from (select CLASS_NUMBER, CLASS_STATUS, CLASS_AREA, CLASS_AMOUNT, CLASS_DIVISION, CLASS_NAME, CLASS_CATEGORY, 
	    CLASS_DATE_CONFIGURATION_1, CLASS_DATE_CONFIGURATION_2, CLASS_COUNT_MEMBER from (select * from ACADEMY where
	    	<if test="selectClassType == 'allClass'"> 1=1 and WORKSHOP_NAME=#{WORKSHOP_NAME})</if>
	    	<if test="selectClassType == 'inClass'"> CLASS_STATUS=1 and WORKSHOP_NAME=#{WORKSHOP_NAME})</if>
	    	<if test="selectClassType == 'endClass'"> CLASS_STATUS=2 and WORKSHOP_NAME=#{WORKSHOP_NAME})</if>
	    	<if test="selectClassType == 'onedayClass'"> CLASS_DIVISION='원데이클래스' and WORKSHOP_NAME=#{WORKSHOP_NAME})</if>
	    	<if test="selectClassType == 'regularClass'"> CLASS_DIVISION='정규클래스' and WORKSHOP_NAME=#{WORKSHOP_NAME})</if>
	    	 order by CLASS_DATE ASC)
	</select>
	
	<select id="getSearchList" resultMap="classResultMap">
		select * from (select CLASS_NUMBER, CLASS_STATUS, CLASS_AREA, CLASS_AMOUNT, CLASS_DIVISION, CLASS_NAME, CLASS_CATEGORY, 
	    CLASS_DATE_CONFIGURATION_1, CLASS_DATE_CONFIGURATION_2, CLASS_COUNT_MEMBER from (select * from ACADEMY where
	    <if test="searchType == 'className'"> CLASS_NAME LIKE '%'||#{keyword}||'%' and WORKSHOP_NAME=#{WORKSHOP_NAME}</if>
	    <if test="searchType == 'area'"> CLASS_AREA LIKE '%'||#{keyword}||'%' and WORKSHOP_NAME=#{WORKSHOP_NAME}</if>
	    <if test="searchType == 'category'"> CLASS_CATEGORY LIKE '%'||#{keyword}||'%' and WORKSHOP_NAME=#{WORKSHOP_NAME}</if>
	    ) order by CLASS_DATE ASC)    
	</select>
	
	<select id="getMemberList" resultMap="myclassMemberResultMap">
		select DISTINCT mc.my_class_classnum, mc.my_class_membernum, ac.class_name, ac.class_division, m.member_email, m.member_name, m.member_phone, m.member_num 
		from my_class mc inner join academy ac on mc.my_class_classnum = ac.class_number inner join nagagu_member m on mc.my_class_membernum = m.member_num 
		where ac.workshop_num = #{WORKSHOP_NUM}
	</select>
	
	<select id="getMemberSearch" resultMap="myclassMemberResultMap">
		select DISTINCT mc.my_class_classnum, mc.my_class_membernum, ac.class_name, ac.class_division, m.member_email, m.member_name, m.member_phone, m.member_num 
		from my_class mc inner join academy ac on mc.my_class_classnum = ac.class_number inner join nagagu_member m on mc.my_class_membernum = m.member_num 
		where ac.workshop_num = #{WORKSHOP_NUM}
		<if test="searchType == 'className'"> and ac.class_name LIKE '%'||#{keyword}||'%'</if>
		<if test="searchType == 'memberName'"> and m.member_name LIKE '%'||#{keyword}||'%'</if>
		<if test="searchType == 'memberPhone'"> and m.member_phone LIKE '%'||#{keyword}||'%'</if>
	</select>
	
	<delete id="deleteManagementMember" parameterType="int">
 		delete from my_class where MY_CLASS_MEMBERNUM = #{MY_CLASS_MEMBERNUM}
 	</delete>
 	
 	<update id="updateClassStatus" parameterType="int">
 		update ACADEMY set CLASS_STATUS = 0 where CLASS_NUMBER = #{CLASS_NUMBER}
 	</update>
 	
 	<select id="getclassDetail" parameterType="int" resultMap="classResultMap"> 
 		SELECT * FROM academy WHERE CLASS_NUMBER = #{CLASS_NUMBER}
 	</select>
 	
 	<update id="updateClass" parameterType="com.spring.academy.ClassVO">
 		update ACADEMY set CLASS_DIVISION=#{CLASS_DIVISION}, CLASS_NAME=#{CLASS_NAME}, CLASS_ABRIEF=#{CLASS_ABRIEF}, CLASS_AMOUNT=#{CLASS_AMOUNT}, 
 		CLASS_DATE_CONFIGURATION_1=#{CLASS_DATE_CONFIGURATION_1}, CLASS_DATE_CONFIGURATION_2=#{CLASS_DATE_CONFIGURATION_2}, CLASS_AREA=#{CLASS_AREA}, 
 		CLASS_CATEGORY=#{CLASS_CATEGORY}, CLASS_INTRODUCTION_1=#{CLASS_INTRODUCTION_1}, CLASS_INTRODUCTION_2=#{CLASS_INTRODUCTION_2}, CLASS_INTRODUCTION_3=#{CLASS_INTRODUCTION_3}, 
 		CLASS_ETC=#{CLASS_ETC}, CLASS_BANNER=#{CLASS_BANNER}, CLASS_IMAGE=#{CLASS_IMAGE}, CLASS_ADDRESS=#{CLASS_ADDRESS}, CLASS_DETAIL_ADDRESS=#{CLASS_DETAIL_ADDRESS} where CLASS_NUMBER=#{CLASS_NUMBER} 
 	</update>
 	
 	<update id="modifyWorkshop" parameterType="com.spring.workshop.WorkShopMemberVO">
 		update nagagu_workshop_member set WORKSHOP_CEO_NAME=#{WORKSHOP_CEO_NAME}, WORKSHOP_PHONE=#{WORKSHOP_PHONE}, WORKSHOP_LICENSE=#{WORKSHOP_LICENSE}, 
 		WORKSHOP_ZIP=#{WORKSHOP_ZIP}, WORKSHOP_ADDRESS1=#{WORKSHOP_ADDRESS1}, WORKSHOP_ADDRESS2=#{WORKSHOP_ADDRESS2}, WORKSHOP_PICTURE=#{WORKSHOP_PICTURE}, WORKSHOP_INTRO = #{WORKSHOP_INTRO} 
 		where WORKSHOP_NAME=#{WORKSHOP_NAME}
 	</update>
 	
 	
 	<!-- 선주 리뷰,qna -->
	<select id="getclassReviewList" parameterType="java.util.HashMap" resultMap="classReviewResultMap">
		SELECT A.CLASS_CATEGORY, A.CLASS_AREA, A.CLASS_DIVISION, A.CLASS_NAME, A.CLASS_NUMBER, A.CLASS_STATUS, N.MEMBER_NICK, R.REVIEW_NUM, R.REVIEW_MEMBER, R.REVIEW_CLASS, R.REVIEW_DATE, 
		R.REVIEW_FILE, R.REVIEW_CONTENT, R.REVIEW_GRADE, R.REVIEW_RE
		FROM ACADEMY A, CLASS_REVIEW R, nagagu_workshop_member W, nagagu_member N
		WHERE A.CLASS_NUMBER =R.REVIEW_CLASS
		AND W.WORKSHOP_NUM=A.WORKSHOP_NUM
		AND W.WORKSHOP_NUM=#{WORKSHOP_NUM}
		AND R.REVIEW_MEMBER=N.MEMBER_NUM
			<if test="selectClassType1 == 'inClass'">  AND A.CLASS_STATUS = 1 </if>
			<if test="selectClassType1 == 'endClass'">  AND A.CLASS_STATUS = 0 </if>
			<if test="selectClassType2 != 'allClass'"> AND A.CLASS_DIVISION = #{selectClassType2} </if>
			<if test="selectCategory1 != '지역'"> AND A.CLASS_AREA = #{selectCategory1} </if>
			<if test="selectCategory2 != 'all'"> AND A.CLASS_CATEGORY = #{selectCategory2} </if>
			<if test="searchType == 'member_nick'"> AND N.MEMBER_NICK LIKE '%'||#{keyword}||'%' </if>
			<if test="searchType == 'class_name'"> AND A.CLASS_NAME LIKE '%'||#{keyword}||'%' </if>
			<if test="searchType == 'review_content'"> AND R.REVIEW_CONTENT LIKE '%'||#{keyword}||'%' </if>			
		ORDER BY R.${selectListAlign} DESC			
				
	</select>
	
	<select id="getclassQnaList" parameterType="java.util.HashMap" resultMap="classQnaResultMap">
		SELECT A.CLASS_CATEGORY, A.CLASS_AREA, A.CLASS_DIVISION, A.CLASS_NAME, A.CLASS_NUMBER, A.CLASS_STATUS, N.MEMBER_NICK, Q.QNA_NUM, Q.QNA_MEMBER, Q.QNA_CLASS, Q.QNA_DATE, 
		Q.QNA_CONTENT, Q.QNA_RE, Q.QNA_STATUS
		FROM ACADEMY A, CLASS_QNA Q, nagagu_workshop_member W, nagagu_member N
		WHERE A.CLASS_NUMBER =Q.QNA_CLASS
		AND W.WORKSHOP_NUM=A.WORKSHOP_NUM
		AND W.WORKSHOP_NUM=#{WORKSHOP_NUM}
		AND Q.QNA_MEMBER=N.MEMBER_NUM
			<if test="selectClassType1 == 'inClass'">  AND A.CLASS_STATUS = 1 </if>
			<if test="selectClassType1 == 'endClass'">  AND A.CLASS_STATUS = 0 </if>
			<if test="selectClassType2 != 'allClass'"> AND A.CLASS_DIVISION = #{selectClassType2} </if>
	        <if test="selectClassType3 == 'Standby'"> AND Q.QNA_STATUS=0 </if>
			<if test="selectClassType3 == 'Completed'"> AND Q.QNA_STATUS=1 </if>
			<if test="selectCategory1 != '지역'"> AND A.CLASS_AREA = #{selectCategory1} </if>
			<if test="selectCategory2 != 'all'"> AND A.CLASS_CATEGORY = #{selectCategory2} </if>
			<if test="searchType == 'member_nick'"> AND N.MEMBER_NICK LIKE '%'||#{keyword}||'%' </if>
			<if test="searchType == 'class_name'"> AND A.CLASS_NAME LIKE '%'||#{keyword}||'%' </if>
			<if test="searchType == 'qna_content'"> AND Q.QNA_CONTENT LIKE '%'||#{keyword}||'%' </if>	
		ORDER BY Q.QNA_DATE DESC			
	</select>


	<!-- 대시보드 qna 리스트 띄우기 -->
	<select id="getDashboardQna" resultMap="classQnaResultMap" parameterType="int">
		SELECT A.CLASS_CATEGORY, A.CLASS_AREA, A.CLASS_DIVISION, A.CLASS_NAME, A.CLASS_NUMBER, A.CLASS_STATUS, N.MEMBER_NICK, Q.QNA_NUM, Q.QNA_MEMBER, Q.QNA_CLASS, Q.QNA_DATE, 
		Q.QNA_CONTENT, Q.QNA_RE, Q.QNA_STATUS
		FROM ACADEMY A, CLASS_QNA Q, nagagu_workshop_member W, nagagu_member N
		WHERE A.CLASS_NUMBER =Q.QNA_CLASS
		AND W.WORKSHOP_NUM=A.WORKSHOP_NUM
		AND W.WORKSHOP_NUM=#{WORKSHOP_NUM}
		AND Q.QNA_MEMBER=N.MEMBER_NUM
		ORDER BY Q.QNA_DATE DESC
	</select>
	
	<select id="getDashboardReviewList" parameterType="java.util.HashMap" resultMap="productReviewResultMap">
		SELECT * FROM
			(SELECT rownum rnum, REVIEW_NUM, REVIEW_MEMBER, REVIEW_PRODUCT, REVIEW_DATE, REVIEW_FILE, REVIEW_CONTENT, REVIEW_GRADE, REVIEW_RE,
			MEMBER_NICK, MEMBER_PICTURE FROM  
				(SELECT R.*, N.MEMBER_NICK, N.MEMBER_PICTURE FROM PRODUCT_REVIEW R, NAGAGU_MEMBER N 
				WHERE R.REVIEW_PRODUCT=#{PRODUCT_NUM} AND R.REVIEW_MEMBER=N.MEMBER_NUM AND R.REVIEW_RE=0 ORDER BY R.REVIEW_DATE DESC)) 
	</select>
	
	<select id="countOrderState" parameterType="int" resultType="int">
		select count(order_state) from product_order where order_state = #{number} and product_workshop={WORKSHOP_NUM}
	</select>
	
</mapper>