<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.AdminMapper">
	<resultMap type="com.spring.admin.AdminMemberVO" id="adminResultMap">
		<result property="ADMIN_NUM" column="ADMIN_NUM" />
		<result property="ADMIN_ID" column="ADMIN_ID" />
		<result property="ADMIN_PASS" column="ADMIN_PASS" />
		<result property="ADMIN_NAME" column="ADMIN_NAME" />
		<result property="ADMIN_PHONE" column="ADMIN_PHONE" />
		<result property="ADMIN_DATE" column="ADMIN_DATE" />
	</resultMap>
	
	<!-- 일반회원관리 -->
	<resultMap type="com.spring.member.MemberVO" id="memberResultMap">
		<result property="MEMBER_NUM" column="MEMBER_NUM" />
		<result property="MEMBER_EMAIL" column="MEMBER_EMAIL" />
		<result property="MEMBER_PASS" column="MEMBER_PASS" />
		<result property="MEMBER_NAME" column="MEMBER_NAME" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />
		<result property="MEMBER_PHONE" column="MEMBER_PHONE" />
		<result property="MEMBER_DATE" column="MEMBER_DATE" />
		<result property="MEMBER_PICTURE" column="MEMBER_PICTURE" />
		<result property="MEMBER_LIKE_PRODUCT" column="MEMBER_LIKE_PRODUCT" />
		<result property="MEMBER_STATUS" column="MEMBER_STATUS" />		
		<result property="ADDRESS_ZIP" column="ADDRESS_ZIP" />		
		<result property="ADDRESS_ADDRESS1" column="ADDRESS_ADDRESS1" />		
		<result property="ADDRESS_ADDRESS2" column="ADDRESS_ADDRESS2" />		
	</resultMap>
	
	<!-- 공방회원관리 -->
	<resultMap type="com.spring.workshop.WorkShopMemberVO" id="workshopMemberResultMap">
		<result property="WORKSHOP_NUM" column="WORKSHOP_NUM" />
		<result property="WORKSHOP_EMAIL" column="WORKSHOP_EMAIL" />
		<result property="WORKSHOP_PASS" column="WORKSHOP_PASS" />
		<result property="WORKSHOP_NAME" column="WORKSHOP_NAME" />
		<result property="WORKSHOP_CEO_NAME" column="WORKSHOP_CEO_NAME" />
		<result property="WORKSHOP_PHONE" column="WORKSHOP_PHONE" />
		<result property="WORKSHOP_ZIP" column="WORKSHOP_ZIP" />
		<result property="WORKSHOP_ADDRESS1" column="WORKSHOP_ADDRESS1" />
		<result property="WORKSHOP_ADDRESS2" column="WORKSHOP_ADDRESS2" />
		<result property="WORKSHOP_LICENSE" column="WORKSHOP_LICENSE" />
		<result property="WORKSHOP_DATE" column="WORKSHOP_DATE" />		
		<result property="WORKSHOP_INTRO" column="WORKSHOP_INTRO" />		
		<result property="WORKSHOP_OWNER" column="WORKSHOP_OWNER" />		
		<result property="WORKSHOP_BANK" column="WORKSHOP_BANK" />
		<result property="WORKSHOP_ACNUM" column="WORKSHOP_ACNUM" />
		<result property="WORKSHOP_STATUS" column="WORKSHOP_STATUS" />
		<result property="WORKSHOP_PICTURE" column="WORKSHOP_PICTURE" />
	</resultMap>
	
	<!-- 어드민 -->
	<insert id="insert_admin" parameterType="com.spring.admin.AdminMemberVO">
		<selectKey resultType="int" keyProperty="ADMIN_NUM" order="BEFORE">
           SELECT admin_member_seq.nextval FROM dual        
       </selectKey>
	      insert into admin_member(ADMIN_NUM, ADMIN_ID, ADMIN_PASS, ADMIN_NAME, ADMIN_PHONE, ADMIN_DATE) 
	      values (#{ADMIN_NUM}, #{ADMIN_ID}, #{ADMIN_PASS}, #{ADMIN_NAME}, #{ADMIN_PHONE}, SYSDATE)
	</insert>
	
	<select id="user_chk" resultMap="adminResultMap">
		SELECT * from ADMIN_MEMBER WHERE ADMIN_ID = #{ADMIN_ID} and ADMIN_PASS = #{ADMIN_PASS}
	</select>
	
	<!-- 일반회원관리 -->
	<select id="memberListCount" resultType="int"> 
 		SELECT COUNT(*) FROM NAGAGU_MEMBER
 	</select>
 	
	<select id="getMembers" resultMap="memberResultMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, MEMBER_NUM, MEMBER_EMAIL, MEMBER_NAME, MEMBER_NICK, MEMBER_PHONE, 
					 ADDRESS_ADDRESS1, ADDRESS_ADDRESS2, MEMBER_STATUS
			  from(select * 
			  	   from NAGAGU_MEMBER
			  	   order by MEMBER_NUM ASC))
 	</select>
 	
 	<delete id="deleteMember" parameterType="com.spring.member.MemberVO">
 		delete from NAGAGU_MEMBER where MEMBER_NUM = #{MEMBER_NUM}
 	</delete>
	
	<!-- 공방회원관리  -->
	<select id="WmemberListCount" resultType="int"> 
 		SELECT COUNT(*) FROM NAGAGU_WORKSHOP_MEMBER
 	</select>
 	
	<select id="getWMembers" parameterType="int" resultMap="workshopMemberResultMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, WORKSHOP_NUM, WORKSHOP_EMAIL, WORKSHOP_NAME, WORKSHOP_CEO_NAME, WORKSHOP_PHONE, 
					 WORKSHOP_LICENSE, WORKSHOP_ADDRESS1, WORKSHOP_ADDRESS2, WORKSHOP_STATUS
			  from(select * 
			  	   from NAGAGU_WORKSHOP_MEMBER 
			  	   order by WORKSHOP_STATUS ASC))
		<![CDATA[ WHERE rnum >= #{startrow} AND rnum <= #{endrow} ]]>
 	</select>
 	
 	<delete id="deleteWMember" parameterType="com.spring.workshop.WorkShopMemberVO">
 		DELETE FROM NAGAGU_WORKSHOP_MEMBER WHERE WORKSHOP_NUM = #{WORKSHOP_NUM}
 	</delete>
 	
 	<update id="updateStatus" parameterType="com.spring.workshop.WorkShopMemberVO"> <!-- MemberVO 타입에 있는게 아니라면 해쉬맵으로 써야 한다. -->
 		UPDATE NAGAGU_WORKSHOP_MEMBER SET WORKSHOP_STATUS = 2 WHERE WORKSHOP_NUM = #{WORKSHOP_NUM}
 	</update>
</mapper>