<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.AdminMapper">
	<!-- 어드민 -->
	<resultMap type="com.spring.admin.AdminMemberVO" id="adminResultMap">
		<result property="ADMIN_NUM" column="ADMIN_NUM" />
		<result property="ADMIN_ID" column="ADMIN_ID" />
		<result property="ADMIN_PASS" column="ADMIN_PASS" />
		<result property="ADMIN_NAME" column="ADMIN_NAME" />
		<result property="ADMIN_PHONE" column="ADMIN_PHONE" />
		<result property="ADMIN_DATE" column="ADMIN_DATE" />
	</resultMap>
	
	<!-- 일반회원관리 -->
	<resultMap type="com.spring.member.MemberVO" id="memberResultMap">
		<result property="MEMBER_NUM" column="MEMBER_NUM" />
		<result property="MEMBER_EMAIL" column="MEMBER_EMAIL" />
		<result property="MEMBER_PASS" column="MEMBER_PASS" />
		<result property="MEMBER_NAME" column="MEMBER_NAME" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />
		<result property="MEMBER_PHONE" column="MEMBER_PHONE" />
		<result property="MEMBER_DATE" column="MEMBER_DATE" />
		<result property="MEMBER_PICTURE" column="MEMBER_PICTURE" />
		<result property="MEMBER_LIKE_PRODUCT" column="MEMBER_LIKE_PRODUCT" />
		<result property="MEMBER_STATUS" column="MEMBER_STATUS" />		
		<result property="ADDRESS_ZIP" column="ADDRESS_ZIP" />		
		<result property="ADDRESS_ADDRESS1" column="ADDRESS_ADDRESS1" />		
		<result property="ADDRESS_ADDRESS2" column="ADDRESS_ADDRESS2" />		
	</resultMap>
	
	<!-- 공방회원관리 -->
	<resultMap type="com.spring.workshop.WorkShopMemberVO" id="workshopMemberResultMap">
		<result property="WORKSHOP_NUM" column="WORKSHOP_NUM" />
		<result property="WORKSHOP_EMAIL" column="WORKSHOP_EMAIL" />
		<result property="WORKSHOP_PASS" column="WORKSHOP_PASS" />
		<result property="WORKSHOP_NAME" column="WORKSHOP_NAME" />
		<result property="WORKSHOP_CEO_NAME" column="WORKSHOP_CEO_NAME" />
		<result property="WORKSHOP_PHONE" column="WORKSHOP_PHONE" />
		<result property="WORKSHOP_ZIP" column="WORKSHOP_ZIP" />
		<result property="WORKSHOP_ADDRESS1" column="WORKSHOP_ADDRESS1" />
		<result property="WORKSHOP_ADDRESS2" column="WORKSHOP_ADDRESS2" />
		<result property="WORKSHOP_LICENSE" column="WORKSHOP_LICENSE" />
		<result property="WORKSHOP_DATE" column="WORKSHOP_DATE" />		
		<result property="WORKSHOP_INTRO" column="WORKSHOP_INTRO" />		
		<result property="WORKSHOP_OWNER" column="WORKSHOP_OWNER" />		
		<result property="WORKSHOP_BANK" column="WORKSHOP_BANK" />
		<result property="WORKSHOP_ACNUM" column="WORKSHOP_ACNUM" />
		<result property="WORKSHOP_STATUS" column="WORKSHOP_STATUS" />
		<result property="WORKSHOP_PICTURE" column="WORKSHOP_PICTURE" />
	</resultMap>
	
	<!-- 커뮤니티관리 -->
	<resultMap type="com.spring.community.PicsVO" id="picsResultMap">
		<result property="PICS_NUM" column="PICS_NUM" />	
		<result property="PICS_MEMBER" column="PICS_MEMBER" />	
		<result property="PICS_NICK" column="PICS_NICK" />
		<result property="PICS_DATE" column="PICS_DATE" />	
		<result property="PICS_CATEGORY" column="PICS_CATEGORY" />		
		<result property="PICS_LIKE" column="PICS_LIKE" />	
		<result property="PICS_TAG" column="PICS_TAG" />	
		<result property="PICS_READ" column="PICS_READ" />
		<result property="PICS_REVIEW" column="PICS_REVIEW" />		
		<result property="PICS_MAIN_IMAGE" column="PICS_MAIN_IMAGE" />	
		<result property="PICS_CONTENT" column="PICS_CONTENT" />
		<result property="MEMBER_NUM" column="MEMBER_NUM" />
	</resultMap>
	
	<resultMap type="com.spring.community.PicsCommentDB" id="commentResultMap">
		<result property="PICS_RE_NUM" column="PICS_RE_NUM" />	
		<result property="PICS_RE_PICS" column="PICS_RE_PICS" />	
		<result property="PICS_RE_MEMBER" column="PICS_RE_MEMBER" />
		<result property="PICS_RE_DATE" column="PICS_RE_DATE" />	
		<result property="PICS_RE_CONTENT" column="PICS_RE_CONTENT" />
		<result property="PICS_RE_REF" column="PICS_RE_REF" />	
		<result property="PICS_RE_STEP" column="PICS_RE_STEP" />	
		<result property="PICS_RE_LEVEL" column="PICS_RE_LEVEL" />			
	</resultMap>
	
	<!-- 아카데미관리 -->
	<resultMap type="com.spring.academy.ClassVO" id="classResultMap">
		<result property="CLASS_NUMBER" column="CLASS_NUMBER" />	
		<result property="WORKSHOP_NUM" column="WORKSHOP_NUM" />
		<result property="WORKSHOP_NAME" column="WORKSHOP_NAME" />
		<result property="WORKSHOP_PICTURE" column="WORKSHOP_PICTURE" />
		<result property="CLASS_DIVISION" column="CLASS_DIVISION" />	
		<result property="CLASS_NAME" column="CLASS_NAME" />	
		<result property="CLASS_ABRIEF" column="CLASS_ABRIEF" />	
		<result property="CLASS_AMOUNT" column="CLASS_AMOUNT" />	
		<result property="CLASS_DATE" column="CLASS_DATE" />	
		<result property="CLASS_DATE_CONFIGURATION_1" column="CLASS_DATE_CONFIGURATION_1" />	
		<result property="CLASS_DATE_CONFIGURATION_2" column="CLASS_DATE_CONFIGURATION_2" />	
		<result property="CLASS_AREA" column="CLASS_AREA" />	
		<result property="CLASS_CATEGORY" column="CLASS_CATEGORY" />	
		<result property="CLASS_INTRODUCTION_1" column="CLASS_INTRODUCTION_1" />	
		<result property="CLASS_INTRODUCTION_2" column="CLASS_INTRODUCTION_2" />	
		<result property="CLASS_INTRODUCTION_3" column="CLASS_INTRODUCTION_3" />	
		<result property="CLASS_ETC" column="CLASS_ETC" />	
		<result property="CLASS_BANNER" column="CLASS_BANNER" />	
		<result property="CLASS_IMAGE" column="CLASS_IMAGE" />
		<result property="CLASS_ADDRESS" column="CLASS_ADDRESS" />
		<result property="CLASS_DETAIL_ADDRESS" column="CLASS_DETAIL_ADDRESS" />
		<result property="CLASS_COUNT_MEMBER" column="CLASS_COUNT_MEMBER" />
		<result property="CLASS_STATUS" column="CLASS_STATUS" />
	</resultMap>
	
	<resultMap type="com.spring.academy.Class_qnaVO" id="academyQnAResultMap">
		<result property="QNA_NUM" column="QNA_NUM" />	
		<result property="QNA_MEMBER" column="QNA_MEMBER" />
		<result property="QNA_CLASS" column="QNA_CLASS" />
		<result property="QNA_DATE" column="QNA_DATE" />
		<result property="QNA_CONTENT" column="QNA_CONTENT" />	
		<result property="QNA_RE" column="QNA_RE" />	
		<result property="QNA_STATUS" column="QNA_STATUS" />	
	</resultMap>	
	
	<resultMap type="com.spring.academy.Class_reviewVO" id="academyReviewResultMap">
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />
		<result property="REVIEW_CLASS" column="REVIEW_CLASS" />
		<result property="REVIEW_DATE" column="REVIEW_DATE" />
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />	
	</resultMap>
	
	<!-- 상품관리 -->
	<resultMap type="com.spring.store.ProductVO" id="productResultMap">
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />	
		<result property="PRODUCT_WORKSHOP" column="PRODUCT_WORKSHOP" />	
		<result property="PRODUCT_SHOPNAME" column="PRODUCT_SHOPNAME" />	
		<result property="PRODUCT_DATE" column="PRODUCT_DATE" />	
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />	
		<result property="PRODUCT_BRIEF" column="PRODUCT_BRIEF" />	
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />
		<result property="PRODUCT_PRICE" column="PRODUCT_PRICE" />		
		<result property="PRODUCT_GRADE" column="PRODUCT_GRADE" />		
		<result property="PRODUCT_READ" column="PRODUCT_READ" />
		<result property="PRODUCT_SALES" column="PRODUCT_SALES" />		
		<result property="PRODUCT_LIKE" column="PRODUCT_LIKE" />	
		<result property="PRODUCT_COLOR" column="PRODUCT_COLOR" />			
		<result property="PRODUCT_SIZE" column="PRODUCT_SIZE" />		
		<result property="PRODUCT_INFO" column="PRODUCT_INFO" />		
		<result property="PRODUCT_SHIP_PRICE" column="PRODUCT_SHIP_PRICE" />		
		<result property="PRODUCT_SHIP_COMPANY" column="PRODUCT_SHIP_COMPANY" />		
		<result property="PRODUCT_SHIP_RETURN_PRICE" column="PRODUCT_SHIP_RETURN_PRICE" />		
		<result property="PRODUCT_SHIP_CHANGE_PRICE" column="PRODUCT_SHIP_CHANGE_PRICE" />		
		<result property="PRODUCT_SHIP_RETURN_PLACE" column="PRODUCT_SHIP_RETURN_PLACE" />		
		<result property="PRODUCT_SHIP_DAYS" column="PRODUCT_SHIP_DAYS" />		
		<result property="PRODUCT_SHIP_INFO" column="PRODUCT_SHIP_INFO" />		
		<result property="PRODUCT_AS_INFO" column="PRODUCT_AS_INFO" />		
		<result property="PRODUCT_RETURN_INFO" column="PRODUCT_RETURN_INFO" />		
		<result property="PRODUCT_STORE_INFO" column="PRODUCT_STORE_INFO" />		
		<result property="PRODUCT_BANNER" column="PRODUCT_BANNER" />		
		<result property="PRODUCT_IMAGE" column="PRODUCT_IMAGE" />	
		<result property="PRODUCT_STATUS" column="PRODUCT_STATUS" />
		<result property="PRODUCT_STOCK" column="PRODUCT_STOCK" />
	</resultMap>
	
	<resultMap type="com.spring.store.Product_reviewVO" id="productVOReviewResultMap">
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />	
		<result property="REVIEW_PRODUCT" column="REVIEW_PRODUCT" />	
		<result property="REVIEW_DATE" column="REVIEW_DATE" />	
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />		
		<result property="MEMBER_NICK" column="MEMBER_NICK" />		
		<result property="MEMBER_PICTURE" column="MEMBER_PICTURE" />		
	</resultMap>
	
	<resultMap type="com.spring.store.Product_qnaVO" id="productVOQnaResultMap">
		<result property="QNA_NUM" column="QNA_NUM" />	
		<result property="QNA_MEMBER" column="QNA_MEMBER" />	
		<result property="QNA_PRODUCT" column="QNA_PRODUCT" />	
		<result property="QNA_DATE" column="QNA_DATE" />	
		<result property="QNA_CONTENT" column="QNA_CONTENT" />
		<result property="QNA_RE" column="QNA_RE" />		
		<result property="QNA_STATUS" column="QNA_STATUS" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />		
		<result property="MEMBER_PICTURE" column="MEMBER_PICTURE" />		
	</resultMap>
	
	<!-- 견적관리 -->
	<resultMap type="com.spring.estimate.EstimateVO" id="estimateMap">
		<result property="ESTIMATE_NUM" column="ESTIMATE_NUM"/>
		<result property="ESTIMATE_MEMBER" column="ESTIMATE_MEMBER"/> 
		<result property="ESTIMATE_NICK" column="ESTIMATE_NICK"/> 
		<result property="ESTIMATE_TITLE" column="ESTIMATE_TITLE"/> 
		<result property="ESTIMATE_DATE" column="ESTIMATE_DATE"/> 
		<result property="ESTIMATE_CATEGORY" column="ESTIMATE_CATEGORY"/> 
		<result property="ESTIMATE_SOURCE" column="ESTIMATE_SOURCE"/> 
		<result property="ESTIMATE_COLOR" column="ESTIMATE_COLOR"/> 
		<result property="ESTIMATE_COAT" column="ESTIMATE_COAT"/> 
		<result property="ESTIMATE_SIZE" column="ESTIMATE_SIZE"/> 
		<result property="ESTIMATE_FILE" column="ESTIMATE_FILE"/> 
		<result property="ESTIMATE_CONTENT" column="ESTIMATE_CONTENT"/> 
		<result property="ESTIMATE_PAY" column="ESTIMATE_PAY"/> 
		<result property="ESTIMATE_STATE" column="ESTIMATE_STATE"/>
		<result property="ESTIMATE_AVG" column="ESTIMATE_AVG"/>
		<result property="ESTIMATE_OFFERCOUNT" column="ESTIMATE_OFFERCOUNT"/>
	</resultMap>
	<resultMap type="java.util.HashMap" id="hashmapVO">
	</resultMap>
	
	<!-- 어드민 -->
	<insert id="insert_admin" parameterType="com.spring.admin.AdminMemberVO">
		<selectKey resultType="int" keyProperty="ADMIN_NUM" order="BEFORE">
           SELECT admin_member_seq.nextval FROM dual        
       </selectKey>
	      insert into admin_member(ADMIN_NUM, ADMIN_ID, ADMIN_PASS, ADMIN_NAME, ADMIN_PHONE, ADMIN_DATE) 
	      values (#{ADMIN_NUM}, #{ADMIN_ID}, #{ADMIN_PASS}, #{ADMIN_NAME}, #{ADMIN_PHONE}, SYSDATE)
	</insert>
	
	<select id="user_chk" resultMap="adminResultMap">
		SELECT * from ADMIN_MEMBER WHERE ADMIN_ID = #{ADMIN_ID} and ADMIN_PASS = #{ADMIN_PASS}
	</select>
	
	<!-- 일반회원관리 -->
	<select id="memberListCount" resultType="int"> 
 		SELECT COUNT(*) FROM NAGAGU_MEMBER
 	</select>
 	
	<select id="getMembers" resultMap="memberResultMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, MEMBER_NUM, MEMBER_EMAIL, MEMBER_NAME, MEMBER_NICK, MEMBER_PHONE, 
					 ADDRESS_ADDRESS1, ADDRESS_ADDRESS2, MEMBER_STATUS
			  from(select * 
			  	   from NAGAGU_MEMBER
			  	   order by MEMBER_STATUS DESC , MEMBER_DATE ASC))
 	</select>
 	
 	<delete id="deleteMember" parameterType="com.spring.member.MemberVO">
 		delete from NAGAGU_MEMBER where MEMBER_NUM = #{MEMBER_NUM}
 	</delete>
 	
 	<select id="detailMember" parameterType="com.spring.member.MemberVO" resultMap="memberResultMap">
 		select * from NAGAGU_MEMBER where MEMBER_NUM = #{MEMBER_NUM}
 	</select>
	
	<!-- 공방회원관리  -->
	<select id="WmemberListCount" resultType="int"> 
 		SELECT COUNT(*) FROM NAGAGU_WORKSHOP_MEMBER
 	</select>
 	
	<select id="getWMembers" parameterType="int" resultMap="workshopMemberResultMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, WORKSHOP_NUM, WORKSHOP_EMAIL, WORKSHOP_NAME, WORKSHOP_CEO_NAME, WORKSHOP_PHONE, 
					 WORKSHOP_LICENSE, WORKSHOP_ADDRESS1, WORKSHOP_ADDRESS2, WORKSHOP_STATUS
			  from(select * 
			  	   from NAGAGU_WORKSHOP_MEMBER 
			  	   order by WORKSHOP_STATUS ASC , WORKSHOP_DATE ASC))
 	</select>
 	
 	<delete id="deleteWMember" parameterType="com.spring.workshop.WorkShopMemberVO">
 		DELETE FROM NAGAGU_WORKSHOP_MEMBER WHERE WORKSHOP_NUM = #{WORKSHOP_NUM}
 	</delete>
 	
 	<update id="updateWMember" parameterType="com.spring.workshop.WorkShopMemberVO"> <!-- MemberVO 타입에 있는게 아니라면 해쉬맵으로 써야 한다. -->
 		UPDATE NAGAGU_WORKSHOP_MEMBER SET WORKSHOP_STATUS = 2 WHERE WORKSHOP_NUM = #{WORKSHOP_NUM}
 	</update>
 	
 	<select id="detailWMember" parameterType="com.spring.workshop.WorkShopMemberVO" resultMap="workshopMemberResultMap">
 		select * from NAGAGU_WORKSHOP_MEMBER where WORKSHOP_NUM = #{WORKSHOP_NUM}
 	</select>
 	
 	<!-- 커뮤니티관리 -->
 	<select id="getPICS" parameterType="int" resultMap="picsResultMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, PICS_NUM, PICS_NICK, PICS_CATEGORY, PICS_LIKE, PICS_READ, PICS_TAG
			  from(select * 
			  	   from PICS 
			  	   order by PICS_DATE ASC , PICS_NUM ASC))
 	</select>
 	
 	<delete id="deletePICS" parameterType="com.spring.community.PicsVO">
 		delete from PICS where PICS_NUM = #{PICS_NUM}
 	</delete>
 	
 	<select id="detailPICS" parameterType="com.spring.community.PicsVO" resultMap="picsResultMap">
 		select * from PICS where PICS_NUM = #{PICS_NUM}
 	</select>
 	
 	<select id="memberPICS" parameterType="com.spring.community.PicsVO" resultMap="memberResultMap">
 		select * from NAGAGU_MEMBER where MEMBER_NUM = #{PICS_MEMBER}
 	</select>
 	
 	<select id="getPICSComment" parameterType="int" resultMap="hashmapVO"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		SELECT * FROM PICS_COMMENT,NAGAGU_MEMBER PICS WHERE MEMBER_NUM=PICS_RE_MEMBER ORDER BY PICS_RE_DATE ASC , PICS_RE_NUM ASC
 	</select>
 	
 	<delete id="deletePICSComment" parameterType="com.spring.community.PicsCommentDB">
 		delete from PICS_COMMENT where PICS_RE_NUM = #{PICS_RE_NUM}
 	</delete>
 	
 	<!-- 아카데미 관리 -->
 	<select id="getAcademy" parameterType="int" resultMap="classResultMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, CLASS_NUMBER, CLASS_DIVISION, WORKSHOP_NAME, CLASS_NAME, CLASS_AMOUNT, CLASS_DATE_CONFIGURATION_1, CLASS_DATE_CONFIGURATION_2, 
			  CLASS_AREA, CLASS_CATEGORY, CLASS_ADDRESS, CLASS_DETAIL_ADDRESS, CLASS_STATUS
			  from(select * 
			  	   from ACADEMY
			  	   order by CLASS_DATE ASC , CLASS_NUMBER ASC))
 	</select>
 	
 	<delete id="deleteAcademy" parameterType="com.spring.academy.ClassVO">
 		delete from ACADEMY where CLASS_NUMBER = #{CLASS_NUMBER}
 	</delete>
 	
 	<select id="detailAcademy" parameterType="com.spring.academy.ClassVO" resultMap="classResultMap">
 		select * from ACADEMY where CLASS_NUMBER = #{CLASS_NUMBER}
 	</select>
 	
 	<select id="getAcademyReview" parameterType="int" resultMap="academyReviewResultMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, REVIEW_NUM, REVIEW_MEMBER, REVIEW_CLASS, REVIEW_DATE, REVIEW_FILE, REVIEW_CONTENT, REVIEW_GRADE, REVIEW_RE
			  from(select * 
			  	   from CLASS_REVIEW
			  	   order by REVIEW_CLASS ASC , REVIEW_NUM ASC))
 	</select>
 	
 	<delete id="deleteAcademyReview" parameterType="com.spring.academy.Class_reviewVO">
 		delete from CLASS_REVIEW where REVIEW_NUM = #{REVIEW_NUM}
 	</delete>
 	
 	<select id="getAcademyQnA" parameterType="int" resultMap="academyQnAResultMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, QNA_NUM, QNA_MEMBER, QNA_CLASS, QNA_DATE, QNA_CONTENT, QNA_RE, QNA_STATUS
			  from(select * 
			  	   from CLASS_QNA
			  	   order by QNA_CLASS ASC , QNA_NUM ASC))
 	</select>
 	
 	<delete id="deleteAcademyQnA" parameterType="com.spring.academy.Class_qnaVO">
 		delete from CLASS_QNA where QNA_NUM = #{QNA_NUM}
 	</delete>
 	
 	<!-- 상품관리 -->
 	<select id="getProduct" parameterType="int" resultMap="productResultMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, PRODUCT_NUM, PRODUCT_SHOPNAME, PRODUCT_TITLE, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STATUS
			  from(select * 
			  	   from PRODUCT
			  	   order by PRODUCT_DATE ASC , PRODUCT_NUM ASC))
 	</select>
 	
 	<delete id="deleteProduct" parameterType="com.spring.store.ProductVO">
 		delete from PRODUCT where PRODUCT_NUM = #{PRODUCT_NUM}
 	</delete>
 	
 	<select id="detailProduct" parameterType="com.spring.store.ProductVO" resultMap="productResultMap">
 		select * from PRODUCT where PRODUCT_NUM = #{PRODUCT_NUM}
 	</select>
 	
 	<select id="getProductReview" parameterType="int" resultMap="productVOReviewResultMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, REVIEW_NUM, REVIEW_MEMBER, REVIEW_PRODUCT, REVIEW_DATE, REVIEW_FILE, REVIEW_CONTENT, REVIEW_GRADE, REVIEW_RE
			  from(select * 
			  	   from PRODUCT_REVIEW
			  	   order by REVIEW_PRODUCT ASC , REVIEW_NUM ASC))
 	</select>
 	
 	<delete id="deleteProductReview" parameterType="com.spring.store.Product_reviewVO">
 		delete from PRODUCT_REVIEW where REVIEW_NUM = #{REVIEW_NUM}
 	</delete>
 	
 	<select id="getProductQnA" parameterType="int" resultMap="productVOQnaResultMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, QNA_NUM, QNA_MEMBER, QNA_PRODUCT, QNA_DATE, QNA_CONTENT, QNA_RE, QNA_STATUS
			  from(select * 
			  	   from PRODUCT_QNA
			  	   order by QNA_PRODUCT ASC , QNA_NUM ASC))
 	</select>
 	
 	<delete id="deleteProductQnA" parameterType="com.spring.store.Product_qnaVO">
 		delete from PRODUCT_QNA where QNA_NUM = #{QNA_NUM}
 	</delete>
 	
 	<!-- 견적관리 -->
 	<select id="getEstimate" parameterType="int" resultMap="estimateMap"> <!-- 이거 처리한 결과물을 list 타입으로 만들어주면 된다. select id은 내용을 호출 함. -->
		select *
		from (select rownum rnum, ESTIMATE_NUM, ESTIMATE_MEMBER, ESTIMATE_NICK, ESTIMATE_TITLE, ESTIMATE_CATEGORY, ESTIMATE_AVG, ESTIMATE_OFFERCOUNT, ESTIMATE_STATE
			  from(select * 
			  	   from ESTIMATE
			  	   order by ESTIMATE_DATE ASC , ESTIMATE_NUM ASC))
 	</select>
 	
 	<delete id="deleteEstimate" parameterType="com.spring.estimate.EstimateVO">
 		delete from ESTIMATE where ESTIMATE_NUM = #{ESTIMATE_NUM}
 	</delete>
 	
 	<select id="detailEstimate" parameterType="com.spring.estimate.EstimateVO" resultMap="estimateMap">
 		select * from ESTIMATE where ESTIMATE_NUM = #{ESTIMATE_NUM}
 	</select>
</mapper>