<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 이 xml문서와 맵핑할 인터페이스 경로, 이름 -->
<mapper namespace="com.spring.mapper.BasketMapper">
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="BASKET_NUM" column="BASKET_NUM" />	
		<result property="BASKET_MEMBER" column="BASKET_MEMBER" />	
		<result property="BASKET_PRODUCT" column="BASKET_PRODUCT" />
		<result property="BASKET_COLOR" column="BASKET_COLOR" />	
		<result property="BASKET_SIZE" column="BASKET_SIZE" />	
		<result property="BASKET_OPTION" column="BASKET_OPTION" />		
		<result property="BASKET_AMOUNT" column="BASKET_AMOUNT" />
		<result property="BASKET_CHECK" column="BASKET_CHECK" />		
	</resultMap>
	<resultMap type="com.spring.order.BasketVO" id="basketVO">
		<result property="BASKET_NUM" column="BASKET_NUM" />	
		<result property="BASKET_MEMBER" column="BASKET_MEMBER" />	
		<result property="BASKET_PRODUCT" column="BASKET_PRODUCT" />
		<result property="BASKET_COLOR" column="BASKET_COLOR" />	
		<result property="BASKET_SIZE" column="BASKET_SIZE" />	
		<result property="BASKET_OPTION" column="BASKET_OPTION" />		
		<result property="BASKET_AMOUNT" column="BASKET_AMOUNT" />
		<result property="BASKET_CHECK" column="BASKET_CHECK" />		
	</resultMap>
<!-- 	<select id="getProductLike" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*)FROM MEMBER_LIKE WHERE LIKE_MEMBER=#{LIKE_MEMBER} AND LIKE_PRODUCT=#{PRODUCT_NUM}
	</select>	 -->
	
	<!-- 좋아요 한 사진 리스트(좋아요사진=사진넘버 중에서 파라미터 멤버가 좋아한 사진들) -->
	<select id="getbasketList" parameterType="java.util.HashMap" resultMap="hashmapVO">
      SELECT * FROM BASKET,PRODUCT WHERE BASKET_MEMBER=#{MEMBER_NUM} AND BASKET_PRODUCT=PRODUCT_NUM 
    </select>
    <insert id="insertCart" parameterType="java.util.HashMap">
		insert into BASKET values
		(SEQ_BASKET.nextval,#{BASKET_MEMBER},#{BASKET_PRODUCT},#{BASKET_COLOR},#{BASKET_SIZE},#{BASKET_OPTION},#{BASKET_AMOUNT},#{BASKET_CHECK})	
	</insert>
	<select id="countBasket"  resultType="int">
		SELECT count(*) FROM BASKET WHERE BASKET_MEMBER=#{BASKET_MEMBER}
	</select>
	<delete id="deleteBasket" parameterType="com.spring.order.BasketVO">	
		DELETE FROM BASKET WHERE BASKET_MEMBER=#{BASKET_MEMBER} AND BASKET_PRODUCT=#{BASKET_PRODUCT}
	</delete>
	<update id="updateAmount" parameterType="java.util.HashMap"> 
		UPDATE BASKET 
		SET BASKET_AMOUNT =#{BASKET_AMOUNT}
		WHERE BASKET_MEMBER=#{BASKET_MEMBER} AND BASKET_PRODUCT=#{BASKET_PRODUCT}	
	</update>
	<update id="updateCheck" parameterType="java.util.HashMap"> 
		UPDATE BASKET 
		SET BASKET_CHECK = 1
		WHERE BASKET_NUM=#{BASKET_NUM}	
	</update>
</mapper>