<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 이 xml문서와 맵핑할 인터페이스 경로, 이름 -->
<mapper namespace="com.spring.mapper.BasketMapper">
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="BASKET_NUM" column="BASKET_NUM" />	
		<result property="BASKET_MEMBER" column="BASKET_MEMBER" />	
		<result property="BASKET_PRODUCT" column="BASKET_PRODUCT" />
		<result property="BASKET_COLOR" column="BASKET_COLOR" />	
		<result property="BASKET_SIZE" column="BASKET_SIZE" />	
		<result property="BASKET_OPTION" column="BASKET_OPTION" />		
		<result property="BASKET_AMOUNT" column="BASKET_AMOUNT" />
		<result property="BASKET_CHECK" column="BASKET_CHECK" />		
	</resultMap>
	<resultMap type="com.spring.order.BasketVO" id="basketVO">
		<result property="BASKET_NUM" column="BASKET_NUM" />	
		<result property="BASKET_MEMBER" column="BASKET_MEMBER" />	
		<result property="BASKET_PRODUCT" column="BASKET_PRODUCT" />
		<result property="BASKET_COLOR" column="BASKET_COLOR" />	
		<result property="BASKET_SIZE" column="BASKET_SIZE" />	
		<result property="BASKET_OPTION" column="BASKET_OPTION" />		
		<result property="BASKET_AMOUNT" column="BASKET_AMOUNT" />
		<result property="BASKET_CHECK" column="BASKET_CHECK" />		
	</resultMap>
	<resultMap type="com.spring.order.ProductOrderVO" id="orderVO">
		<result property="ORDER_NUM" column="ORDER_NUM" />	
		<result property="ORDER_MEMBER" column="ORDER_MEMBER" />
		<result property="ORDER_PRICE" column="ORDER_PRICE" />	
		<result property="ORDER_DATE" column="ORDER_DATE" />	
		<result property="ORDER_AMOUNT" column="ORDER_AMOUNT" />		
		<result property="ORDER_PERSON" column="ORDER_PERSON" />
		<result property="ORDER_MEMO" column="ORDER_MEMO" />		
		<result property="ORDER_METHOD" column="ORDER_METHOD" />	
		<result property="ORDER_STATE" column="ORDER_STATE" />	
		<result property="ORDER_ADDRESS" column="ORDER_ADDRESS" />		
		<result property="ORDER_PHONE" column="ORDER_PHONE" />
	</resultMap>
	
	<!-- 장바구니에 담긴 리스트 -->
	<select id="getbasketList" parameterType="java.util.HashMap" resultMap="hashmapVO">
      SELECT * FROM BASKET,PRODUCT WHERE BASKET_MEMBER=#{MEMBER_NUM} AND BASKET_CHECK=0 AND BASKET_PRODUCT=PRODUCT_NUM ORDER BY BASKET_NUM
    </select>
    <!-- 장바구니에 넘어가서 결제대기 리스트 -->
    <select id="getOrderList" parameterType="java.util.HashMap" resultMap="hashmapVO">
      SELECT * FROM BASKET,PRODUCT WHERE BASKET_MEMBER=#{MEMBER_NUM} AND BASKET_CHECK=1 AND BASKET_PRODUCT=PRODUCT_NUM ORDER BY BASKET_NUM
    </select>
    <!-- 결제 후 구매완료 리스트 -->
    <select id="getPaidList" parameterType="java.util.HashMap" resultMap="hashmapVO">
      SELECT * FROM BASKET, PRODUCT_ORDER,PRODUCT WHERE ORDER_NUM= BASKET_NUM AND BASKET_PRODUCT = PRODUCT_NUM AND BASKET_MEMBER=#{MEMBER_NUM} ORDER BY ORDER_AMOUNT DESC
    </select>
    <select id="getPaidDetail" parameterType="java.util.HashMap" resultMap="hashmapVO">
      SELECT * FROM BASKET, PRODUCT_ORDER,PRODUCT WHERE ORDER_NUM= BASKET_NUM AND BASKET_PRODUCT = PRODUCT_NUM AND ORDER_AMOUNT=#{ORDER_AMOUNT} ORDER BY ORDER_AMOUNT DESC
    </select>
     <select id="getCount" parameterType="java.util.HashMap" resultMap="hashmapVO">
      SELECT ORDER_MEMBER,ORDER_AMOUNT,COUNT(ORDER_AMOUNT) AS COUNT FROM PRODUCT_ORDER WHERE ORDER_MEMBER=#{MEMBER_NUM} GROUP BY ORDER_AMOUNT,ORDER_MEMBER ORDER BY ORDER_AMOUNT DESC
    </select>
    
    <insert id="insertCart" parameterType="java.util.HashMap">
		insert into BASKET values
		(SEQ_BASKET.nextval,#{BASKET_MEMBER},#{BASKET_PRODUCT},#{BASKET_COLOR},#{BASKET_SIZE},#{BASKET_OPTION},#{BASKET_AMOUNT},#{BASKET_CHECK})	
	</insert>
	<select id="countBasket"  resultType="int">
		SELECT count(*) FROM BASKET WHERE BASKET_MEMBER=#{BASKET_MEMBER} AND BASKET_CHECK=0 
	</select>
	<delete id="deleteBasket" parameterType="com.spring.order.BasketVO">	
		DELETE FROM BASKET WHERE BASKET_MEMBER=#{BASKET_MEMBER} AND BASKET_NUM=#{BASKET_NUM}
	</delete>
	<update id="updateAmount" parameterType="java.util.HashMap"> 
		UPDATE BASKET 
		SET BASKET_AMOUNT =#{BASKET_AMOUNT}
		WHERE BASKET_NUM=#{BASKET_NUM}	
	</update>
	<update id="updateCheck" parameterType="java.util.HashMap">  
		UPDATE BASKET 
		SET BASKET_CHECK = #{num}
		WHERE BASKET_NUM=#{BASKET_NUM}	
	</update>
	<insert id="insertOrder" parameterType="java.util.HashMap">
		insert into PRODUCT_ORDER values
		(#{ORDER_NUM},#{ORDER_MEMBER},#{ORDER_PRICE},SYSDATE,#{ORDER_AMOUNT},#{ORDER_PERSON},#{ORDER_MEMO},#{ORDER_METHOD},#{ORDER_STATE},#{ORDER_ADDRESS},#{ORDER_PHONE})
	</insert>
</mapper>