<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
PICS_NUM
PICS_MEMBER
PICS_NICK
PICS_DATE
PICS_CATEGORY
PICS_LIKE
PICS_WORKSHOP
PICS_TAG
PICS_READ
PICS_REVIEW
PICS_CONTENT_1
PICS_CONTENT_2
PICS_CONTENT_3
PICS_FILE_1
PICS_FILE_2
PICS_FILE_3
PICS_REF-->

<!-- 이 xml문서와 맵핑할 인터페이스 경로, 이름 -->
<mapper namespace="com.spring.mapper.CommunityMapper">
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="PICS_NUM" column="PICS_NUM" />	
		<result property="PICS_MEMBER" column="PICS_MEMBER" />	
		<result property="PICS_NICK" column="PICS_NICK" />
		<result property="PICS_DATE" column="PICS_DATE" />	
		<result property="PICS_CATEGORY" column="PICS_CATEGORY" />		
		<result property="PICS_LIKE" column="PICS_LIKE" />	
		<result property="PICS_WORKSHOP" column="PICS_WORKSHOP" />			
		<result property="PICS_TAG" column="PICS_TAG" />	
		<result property="PICS_READ" column="PICS_READ" />
		<result property="PICS_REVIEW" column="PICS_REVIEW" />		
		<result property="PICS_CONTENT_1" column="PICS_CONTENT_1" />	
		<result property="PICS_CONTENT_2" column="PICS_CONTENT_2" />
		<result property="PICS_CONTENT_3" column="PICS_CONTENT_3" />	
		<result property="PICS_FILE_1" column="PICS_FILE_1" />
		<result property="PICS_FILE_2" column="PICS_FILE_2" />
		<result property="PICS_FILE_3" column="PICS_FILE_3" />
		<result property="PICS_REF" column="PICS_REF" />				
	</resultMap>

	<resultMap type="com.spring.community.PicsVO" id="picsResultMap">
		<result property="PICS_NUM" column="PICS_NUM" />	
		<result property="PICS_MEMBER" column="PICS_MEMBER" />	
		<result property="PICS_NICK" column="PICS_NICK" />
		<result property="PICS_DATE" column="PICS_DATE" />	
		<result property="PICS_CATEGORY" column="PICS_CATEGORY" />		
		<result property="PICS_LIKE" column="PICS_LIKE" />	
		<result property="PICS_WORKSHOP" column="PICS_WORKSHOP" />			
		<result property="PICS_TAG" column="PICS_TAG" />	
		<result property="PICS_READ" column="PICS_READ" />
		<result property="PICS_REVIEW" column="PICS_REVIEW" />		
		<result property="PICS_CONTENT_1" column="PICS_CONTENT_1" />	
		<result property="PICS_CONTENT_2" column="PICS_CONTENT_2" />
		<result property="PICS_CONTENT_3" column="PICS_CONTENT_3" />	
		<result property="PICS_FILE_1" column="PICS_FILE_1" />
		<result property="PICS_FILE_2" column="PICS_FILE_2" />
		<result property="PICS_FILE_3" column="PICS_FILE_3" />
		<result property="PICS_REF" column="PICS_REF" />		
	</resultMap>
	
<!-- 	<select id="getPicsCountAll" resultType="int">
		SELECT count(*) FROM PICS  WHERE 1=1
		  <if test="PICS_REVIEW == 1">  AND PICS_REVIEW=#{PICS_REVIEW} </if>
		  <if test="PICS_CATEGORY != 'all'"> AND PICS_CATEGORY=#{PICS_CATEGORY} </if>
	</select> -->

	
	<select id="getPicsCount" parameterType="java.util.HashMap" resultType="int">
			SELECT count(*) FROM PICS  WHERE 1=1
		  <if test="PICS_REVIEW == 1">  AND PICS_REVIEW=#{PICS_REVIEW} </if>
		  <if test="PICS_CATEGORY != 'all'"> AND PICS_CATEGORY=#{PICS_CATEGORY} </if> 
	</select>
	
	<select id="getPicsAll" parameterType="java.util.HashMap" resultMap="picsResultMap">	
 		SELECT * FROM
		(SELECT rownum rnum, PICS_NUM, PICS_MEMBER, PICS_NICK, PICS_DATE, PICS_CATEGORY, PICS_LIKE, PICS_WORKSHOP, PICS_TAG, PICS_READ, PICS_REVIEW,  
		PICS_CONTENT_1, PICS_CONTENT_2, PICS_CONTENT_3, PICS_FILE_1, PICS_FILE_2, PICS_FILE_3, PICS_REF
        FROM (SELECT * FROM PICS WHERE 1=1
		  <if test="PICS_REVIEW == 1">  AND PICS_REVIEW=#{PICS_REVIEW} </if>
		  <if test="PICS_CATEGORY != 'all'"> AND PICS_CATEGORY=#{PICS_CATEGORY} </if>
		  <!-- <if test="keyword != null"> AND PICS_TAG LIKE '%'||#{keyword}||'%'</if> -->
		  <if test="option != null"> 
		  	<if test="option == 'tag'">
				AND PICS_TAG LIKE '%'||#{keyword}||'%'
			</if>
			<if test="option == 'write'">
				AND PICS_NICK LIKE '%'||#{keyword}||'%'
			</if>
			<if test="option == 'content'">
				AND (PICS_CONTENT_1 LIKE '%'||#{keyword}||'%'
				OR PICS_CONTENT_2 LIKE '%'||#{keyword}||'%'
				OR PICS_CONTENT_3 LIKE '%'||#{keyword}||'%')
			</if>
		  </if>
           ORDER BY
          <if test="sort == 'like'"> PICS_LIKE DESC </if>
          <if test="sort == 'read'"> PICS_READ DESC </if>                        
          <if test="sort == 'new'"> PICS_DATE DESC </if>
          ))
          <![CDATA[ WHERE rnum >= #{startrow} AND rnum <= #{endrow} ]]> 
	</select>
	

	<select id="getPicsDetail" parameterType="com.spring.community.PicsVO" resultMap="picsResultMap">
		SELECT * FROM PICS WHERE PICS_NUM =#{PICS_NUM}
	</select>
	
	<select id="getPicsOfMemberUpload" parameterType="com.spring.community.PicsVO" resultMap="picsResultMap">
	SELECT * FROM PICS WHERE PICS_MEMBER=#{PICS_MEMBER} ORDER BY PICS_DATE DESC
	</select>
	
	<update id="updatePicsReadCount" parameterType="com.spring.community.PicsVO">
	UPDATE PICS SET PICS_READ=PICS_READ+1 WHERE PICS_NUM =#{PICS_NUM}
	</update>

<!-- SELECTKEY
	<insert id="insertStudents">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select SEQ_ID.nextval FROM DUAL
		</selectKey>
		insert into Students
		(id, name , email)
		values
		(#{id}, #{name}, #{email})
	</insert> -->

 	<insert id="insertPics"	parameterType="com.spring.community.PicsVO">
		INSERT INTO PICS
	(PICS_NUM, PICS_MEMBER, PICS_NICK, PICS_DATE, PICS_CATEGORY, PICS_LIKE, PICS_WORKSHOP, PICS_TAG, PICS_READ, PICS_REVIEW,  
		PICS_CONTENT_1, PICS_CONTENT_2, PICS_CONTENT_3, PICS_FILE_1, PICS_FILE_2, PICS_FILE_3, PICS_REF)
	VALUES(SEQ_PICS.NEXTVAL, #{PICS_MEMBER}, #{PICS_NICK}, SYSDATE, #{PICS_CATEGORY}, #{PICS_LIKE}, #{PICS_WORKSHOP}, #{PICS_TAG}, 0, #{PICS_REVIEW},  
	 #{PICS_CONTENT_1}, #{PICS_CONTENT_2}, #{PICS_CONTENT_3}, #{PICS_FILE_1, jdbcType=VARCHAR}, #{PICS_FILE_2, jdbcType=VARCHAR}, #{PICS_FILE_3, jdbcType=VARCHAR}, SEQ_PICS_REF.NEXTVAL)
		<selectKey keyProperty="PICS_REF" resultType="Integer"	order="AFTER">
			SELECT SEQ_PICS_REF.CURRVAL FROM DUAL
		</selectKey>
	</insert> 
	
	<delete id="deletePics" parameterType="com.spring.community.PicsVO">	
		DELETE FROM PICS WHERE PICS_NUM=#{PICS_NUM}
	</delete>
	
	<update id="updatePics" parameterType="com.spring.community.PicsVO">
	UPDATE PICS SET 
	PICS_CATEGORY=#{PICS_CATEGORY}, PICS_WORKSHOP=#{PICS_WORKSHOP}, PICS_TAG=#{PICS_TAG}, PICS_REVIEW=#{PICS_REVIEW},  
		PICS_CONTENT_1=#{PICS_CONTENT_1}, PICS_CONTENT_2=#{PICS_CONTENT_2}, PICS_CONTENT_3=#{PICS_CONTENT_3}	
<!-- 		<if test="PICS_FILE_1 == null">
			, PICS_FILE_1='noImage'
		</if> -->
		<if test="PICS_FILE_1 !=null">
			, PICS_FILE_1=#{PICS_FILE_1, jdbcType=VARCHAR} 
		</if>
<!-- 		<if test="PICS_FILE_2 == null">
			, PICS_FILE_2='noImage'
		</if> -->
		<if test="PICS_FILE_2 !=null">
			, PICS_FILE_2=#{PICS_FILE_2, jdbcType=VARCHAR} 
		</if>
<!-- 		<if test="PICS_FILE_3 == null">
			, PICS_FILE_3='noImage'
		</if> -->
		<if test="PICS_FILE_3 !=null">
			, PICS_FILE_3=#{PICS_FILE_3, jdbcType=VARCHAR} 
		</if>
		<!-- <if test="PICS_FILE_1 !=null">, PICS_FILE_1=#{PICS_FILE_1, jdbcType=VARCHAR} </if>
		<if test="PICS_FILE_2 !=null">, PICS_FILE_2=#{PICS_FILE_2, jdbcType=VARCHAR} </if>
		<if test="PICS_FILE_3 !=null">, PICS_FILE_3=#{PICS_FILE_3, jdbcType=VARCHAR} </if> -->
	 WHERE PICS_NUM=#{PICS_NUM}	
	</update>
	
	<update id="deletePicsFile" parameterType="com.spring.community.PicsVO">	
		UPDATE PICS 
		<set> 
			PICS_FILE_1=#{PICS_FILE_1, jdbcType=VARCHAR}
			, PICS_FILE_2=#{PICS_FILE_2, jdbcType=VARCHAR}
			, PICS_FILE_3=#{PICS_FILE_3, jdbcType=VARCHAR} 
		</set>
		WHERE PICS_NUM=#{PICS_NUM}
	</update>
	
	<!-- 좋아요 수 업데이트 -->
	<update id="updatePicsLike" parameterType="java.util.HashMap">	
		UPDATE PICS SET	
		<if test="count == 'plus'">
			PICS_LIKE = PICS_LIKE +1
		</if>
		<if test="count == 'minus'">
			PICS_LIKE = PICS_LIKE -1
		</if>
		WHERE PICS_NUM=#{picsNum}
	</update>
	
	<!-- 	<select id="getPicsCategory" parameterType="java.util.HashMap" resultMap="picsResultMap">
		SELECT * FROM
		(SELECT rownum rnum, PICS_NUM, PICS_MEMBER, PICS_TITLE, PICS_DATE, PICS_CATEGORY, 
        PICS_CONTENT, PICS_LIKE, PICS_WORKSHOP, PICS_ROUTE,	PICS_TAG 
		FROM (SELECT * FROM PICS WHERE PICS_CATEGORY=#{PICS_CATEGORY} AND PICS_REVIEW = #{PICS_REVIEW} ORDER BY PICS_DATE DESC))
		<![CDATA[ WHERE rnum >= #{startrow} AND rnum <= #{endrow} ]]> 
	</select> -->




</mapper>
