<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.EstimateMapper">

	<resultMap type="com.spring.estimate.EstimateVO" id="estimateMap">
		<result property="ESTIMATE_NUM" column="ESTIMATE_NUM"/>
		<result property="ESTIMATE_MEMBER" column="ESTIMATE_MEMBER"/> 
		<result property="ESTIMATE_NICK" column="ESTIMATE_NICK"/> 
		<result property="ESTIMATE_TITLE" column="ESTIMATE_TITLE"/> 
		<result property="ESTIMATE_DATE" column="ESTIMATE_DATE"/> 
		<result property="ESTIMATE_CATEGORY" column="ESTIMATE_CATEGORY"/> 
		<result property="ESTIMATE_SOURCE" column="ESTIMATE_SOURCE"/> 
		<result property="ESTIMATE_COLOR" column="ESTIMATE_COLOR"/> 
		<result property="ESTIMATE_COAT" column="ESTIMATE_COAT"/> 
		<result property="ESTIMATE_SIZE" column="ESTIMATE_SIZE"/> 
		<result property="ESTIMATE_FILE" column="ESTIMATE_FILE"/> 
		<result property="ESTIMATE_CONTENT" column="ESTIMATE_CONTENT"/> 
		<result property="ESTIMATE_PAY" column="ESTIMATE_PAY"/> 
		<result property="ESTIMATE_STATE" column="ESTIMATE_STATE"/>
	</resultMap>
	
	<resultMap type="com.spring.estimate.EstimateOfferVO" id="offerMap">
        <result property="OFFER_NUM" column="OFFER_NUM"/>
        <result property="OFFER_ESTIMATE" column="OFFER_ESTIMATE"/>
        <result property="OFFER_WORKSHOP" column="OFFER_WORKSHOP"/>
        <result property="OFFER_DATE" column="OFFER_DATE"/>
        <result property="OFFER_CONTENT" column="OFFER_CONTENT"/>
        <result property="OFFER_PRICE" column="OFFER_PRICE"/>
        <result property="OFFER_STATE" column="OFFER_STATE"/>
    </resultMap>
	

	<insert id="estimateInsert" parameterType="com.spring.estimate.EstimateVO">
		insert into ESTIMATE values (estimate_seq.nextval, #{ESTIMATE_MEMBER}, #{ESTIMATE_NICK},#{ESTIMATE_TITLE},
		 sysdate, #{ESTIMATE_CATEGORY}, #{ESTIMATE_SOURCE}, #{ESTIMATE_COLOR}, #{ESTIMATE_COAT}, #{ESTIMATE_SIZE}, 
		#{ESTIMATE_FILE}, #{ESTIMATE_CONTENT}, #{ESTIMATE_PAY}, 0, 0, 0)
	</insert>
	
	<select id="estimateList" parameterType="java.util.HashMap" resultMap="estimateMap">
		<![CDATA[select * from (select ROWNUM RNUM, ESTIMATE_NUM, ESTIMATE_MEMBER, ESTIMATE_NICK, ESTIMATE_TITLE, 
		ESTIMATE_DATE, ESTIMATE_CATEGORY, ESTIMATE_PAY, ESTIMATE_STATE from ESTIMATE)
		where ROWNUM]]> >= #{startRow} <![CDATA[and ROWNUM <= ]]>#{endRow}
		order by ESTIMATE_DATE desc
	</select>
	
	<select id="estimateCount" resultType="int">
		select count(*) from ESTIMATE
	</select>
	
	<select id="estimateDetail" parameterType="int" resultMap="estimateMap">
		select * from ESTIMATE where ESTIMATE_NUM=#{ESTIMATE_NUM}
	</select>
	
	<select id="offerList" parameterType="java.util.HashMap" resultMap="offerMap">
        <![CDATA[select * from (select ROWNUM RNUM, OFFER_ESTIMATE, OFFER_WORKSHOP, OFFER_DATE, 
        OFFER_CONTENT, OFFER_PRICE, OFFER_STATE from ESTIMATE_OFFER)
        where ROWNUM >=]]> #{startRow} <![CDATA[and ROWNUM <= ]]>#{endRow} and OFFER_ESTIMATE = #{ESTIMATE_NUM}
        order by OFFER_PRICE asc, OFFER_DATE desc
    </select>
    
    <select id="offerCount" parameterType="int" resultType="int">
        select count(*) from ESTIMATE_OFFER where OFFER_ESTIMATE = #{ESTIMATE_NUM}
    </select>
    
    <insert id="offerInsert" parameterType="com.spring.estimate.EstimateOfferVO">
        insert into ESTIMATE_OFFER values (estimate_offer_seq.nextval, #{OFFER_ESTIMATE}, #{OFFER_WORKSHOP}, sysdate, #{OFFER_CONTENT}, #{OFFER_PRICE}, 0)
    </insert>
	
	<update id="offerIncrease" parameterType="int">
		update ESTIMATE set ESTIMATE_OFFERCOUNT = ESTIMATE_OFFERCOUNT+1 where ESTIMATE_NUM = #{ESTIMATE_NUM}
	</update>
	
	<update id="offerDecrease" parameterType="int">
		update ESTIMATE set ESTIMATE_OFFERCOUNT = ESTIMATE_OFFERCOUNT-1 where ESTIMATE_NUM = #{ESTIMATE_NUM}
	</update>
	
	<update id="estimateSetMin" parameterType="com.spring.estimate.EstimateVO">
		update ESTIMATE set ESTIMATE_MINPRICE = #{ESTIMATE_MINPRICE} where ESTIMATE_NUM = #{ESTIMATE_NUM}
	</update>
	
	<select id="estimateMinPrice" parameterType="int">
		select min(OFFER_PRICE) from estimate_offer where OFFER_ESTIMATE = #{ESTIMATE_NUM}
	</select>
    
</mapper>