<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.EstimateMapper">

	<resultMap type="com.spring.estimate.EstimateVO" id="estimateMap">
		<result property="ESTIMATE_NUM" column="ESTIMATE_NUM"/>
		<result property="ESTIMATE_MEMBER" column="ESTIMATE_MEMBER"/> 
		<result property="ESTIMATE_NICK" column="ESTIMATE_NICK"/> 
		<result property="ESTIMATE_TITLE" column="ESTIMATE_TITLE"/> 
		<result property="ESTIMATE_DATE" column="ESTIMATE_DATE"/> 
		<result property="ESTIMATE_AREA" column="ESTIMATE_AREA"/> 
		<result property="ESTIMATE_CATEGORY" column="ESTIMATE_CATEGORY"/> 
		<result property="ESTIMATE_SOURCE" column="ESTIMATE_SOURCE"/> 
		<result property="ESTIMATE_COLOR" column="ESTIMATE_COLOR"/> 
		<result property="ESTIMATE_COAT" column="ESTIMATE_COAT"/> 
		<result property="ESTIMATE_SIZE" column="ESTIMATE_SIZE"/> 
		<result property="ESTIMATE_FILE" column="ESTIMATE_FILE"/> 
		<result property="ESTIMATE_CONTENT" column="ESTIMATE_CONTENT" /> 
		<result property="ESTIMATE_PAY" column="ESTIMATE_PAY"/> 
		<result property="ESTIMATE_STATE" column="ESTIMATE_STATE"/>
		<result property="ESTIMATE_AVG" column="ESTIMATE_AVG"/>
		<result property="ESTIMATE_OFFERCOUNT" column="ESTIMATE_OFFERCOUNT"/>
	</resultMap>
	
	<resultMap type="com.spring.estimate.EstimateOfferVO" id="offerMap">
        <result property="OFFER_NUM" column="OFFER_NUM"/>
        <result property="OFFER_ESTIMATE" column="OFFER_ESTIMATE"/>
        <result property="OFFER_WORKSHOP" column="OFFER_WORKSHOP"/>
        <result property="OFFER_DATE" column="OFFER_DATE"/>
        <result property="OFFER_CONTENT" column="OFFER_CONTENT"/>
        <result property="OFFER_PRICE" column="OFFER_PRICE"/>
        <result property="OFFER_STATE" column="OFFER_STATE"/>
    </resultMap>
    
	<resultMap type="com.spring.estimate.EstimateOrderVO" id="orderMap">
        <result property="ES_ORDER_NUM" column="ES_ORDER_NUM"/>
        <result property="ES_ORDER_ESTIMATE" column="ES_ORDER_ESTIMATE"/>
        <result property="ES_ORDER_OFFER" column="ES_ORDER_OFFER"/>
        <result property="ES_ORDER_TITLE" column="ES_ORDER_TITLE"/>
        <result property="ES_ORDER_CATEGORY" column="ES_ORDER_CATEGORY"/>
        <result property="ES_ORDER_BUYER" column="ES_ORDER_BUYER"/>
        <result property="ES_ORDER_BUYER_MAIL" column="ES_ORDER_BUYER_MAIL"/>
        <result property="ES_ORDER_BUYER_NAME" column="ES_ORDER_BUYER_NAME"/>
        <result property="ES_ORDER_BUYER_ZIP" column="ES_ORDER_BUYER_ZIP"/>
        <result property="ES_ORDER_BUYER_ADDRESS" column="ES_ORDER_BUYER_ADDRESS"/>
        <result property="ES_ORDER_BUYER_PHONE" column="ES_ORDER_BUYER_PHONE"/>
        <result property="ES_ORDER_WORKSHOP" column="ES_ORDER_WORKSHOP"/>
        <result property="ES_ORDER_PIC" column="ES_ORDER_PIC"/>
        <result property="ES_ORDER_PRICE" column="ES_ORDER_PRICE"/>
        <result property="ES_ORDER_DATE" column="ES_ORDER_DATE"/>
        <result property="ES_ORDER_ZIP" column="ES_ORDER_ZIP"/>
        <result property="ES_ORDER_ADDRESS" column="ES_ORDER_ADDRESS"/>
        <result property="ES_ORDER_RECEIVER" column="ES_ORDER_RECEIVER"/>
        <result property="ES_ORDER_PHONE" column="ES_ORDER_PHONE"/>
        <result property="ES_ORDER_TRANSFER" column="ES_ORDER_TRANSFER"/>
        <result property="ES_ORDER_PAYMENT" column="ES_ORDER_PAYMENT"/>
        <result property="ES_ORDER_MEMO" column="ES_ORDER_MEMO"/>
        <result property="ES_ORDER_STATE" column="ES_ORDER_STATE"/>
    </resultMap>
    
    <resultMap type="java.util.HashMap" id="customMap">
    	<result property="ESTIMATE_NICK" column="ESTIMATE_NICK"/>
    	<result property="ESTIMATE_MEMBER" column="ESTIMATE_MEMBER"/>
    	<result property="ESTIMATE_TITLE" column="ESTIMATE_TITLE"/>
    	<result property="ESTIMATE_CATEGORY" column="ESTIMATE_CATEGORY"/>
    	<result property="OFFER_PRICE" column="OFFER_PRICE"/>
    	<result property="OFFER_DATE" column="OFFER_DATE"/>
    	<result property="ESTIMATE_STATE" column="ESTIMATE_STATE"/>
    	<result property="OFFER_STATE" column="OFFER_STATE"/>
    	<result property="ESTIMATE_NUM" column="ESTIMATE_NUM"/>
    	<result property="OFFER_NUM" column="OFFER_NUM"/>
    </resultMap>
	
	<!-- ///////////////// 견적글 관련 ///////////////// -->
	
	<insert id="estimateInsert" parameterType="com.spring.estimate.EstimateVO">
		insert into ESTIMATE values (estimate_seq.nextval, #{ESTIMATE_MEMBER}, #{ESTIMATE_NICK},#{ESTIMATE_TITLE},
		 sysdate, #{ESTIMATE_AREA}, #{ESTIMATE_CATEGORY}, #{ESTIMATE_SOURCE}, #{ESTIMATE_COLOR}, #{ESTIMATE_COAT}, #{ESTIMATE_SIZE}, 
		#{ESTIMATE_FILE}, #{ESTIMATE_CONTENT}, #{ESTIMATE_PAY}, 0, 0, 0)
	</insert>
	
	<update id="estimateUpdate" parameterType="com.spring.estimate.EstimateVO">
		update ESTIMATE set ESTIMATE_TITLE = #{ESTIMATE_TITLE}, ESTIMATE_AREA = #{ESTIMATE_AREA}, ESTIMATE_CATEGORY = #{ESTIMATE_CATEGORY}, 
		ESTIMATE_SOURCE = #{ESTIMATE_SOURCE}, ESTIMATE_COLOR = #{ESTIMATE_COLOR}, ESTIMATE_COAT = #{ESTIMATE_COAT}, 
		ESTIMATE_SIZE = #{ESTIMATE_SIZE}, ESTIMATE_FILE = #{ESTIMATE_FILE}, ESTIMATE_CONTENT = #{ESTIMATE_CONTENT},
		ESTIMATE_PAY = #{ESTIMATE_PAY} where ESTIMATE_NUM = #{ESTIMATE_NUM}
	</update>
	
	<delete id="estimateDelete" parameterType="int">
		delete from ESTIMATE where ESTIMATE_NUM = #{ESTIMATE_NUM}
	</delete>
	
	<select id="estimateList" parameterType="java.util.HashMap" resultMap="estimateMap">
		select * from (select ROW_NUMBER() OVER (order by ESTIMATE_DATE desc) as RNUM, ESTIMATE_NUM, ESTIMATE_MEMBER, ESTIMATE_NICK, ESTIMATE_TITLE, 
		ESTIMATE_DATE, ESTIMATE_CATEGORY, ESTIMATE_CONTENT, ESTIMATE_PAY, ESTIMATE_STATE, ESTIMATE_AVG, ESTIMATE_OFFERCOUNT from ESTIMATE)
		<![CDATA[where RNUM >= #{startRow} and RNUM <= #{endRow}]]>
		<if test="ES_CATEGORY == 'title'"> and ESTIMATE_TITLE like '%'||#{ES_SEARCH}||'%'</if>
		<if test="ES_CATEGORY == 'content'"> and ESTIMATE_CONTENT like '%'||#{ES_SEARCH}||'%'</if>
		<if test="ES_CATEGORY == 'nick'"> and ESTIMATE_NICK like '%'||#{ES_SEARCH}||'%'</if>
		<if test="ES_CATEGORY == 'TandC'"> and (ESTIMATE_TITLE like '%'||#{ES_SEARCH}||'%'
		or ESTIMATE_CONTENT like '%'||#{ES_SEARCH}||'%')</if>
	</select>
	
	<select id="estimateCount" parameterType="java.util.HashMap" resultType="int">
		select count(*) from ESTIMATE
		<if test="ES_CATEGORY == 'title'"> where ESTIMATE_TITLE like '%'||#{ES_SEARCH}||'%'</if>
		<if test="ES_CATEGORY == 'content'"> where ESTIMATE_CONTENT like '%'||#{ES_SEARCH}||'%'</if>
		<if test="ES_CATEGORY == 'nick'"> where ESTIMATE_NICK like '%'||#{ES_SEARCH}||'%'</if>
		<if test="ES_CATEGORY == 'TandC'"> where ESTIMATE_TITLE like '%'||#{ES_SEARCH}||'%'
		or ESTIMATE_CONTENT like '%'||#{ES_SEARCH}||'%'</if>
	</select>
	
	<select id="estimateDetail" parameterType="int" resultMap="estimateMap">
		select * from ESTIMATE where ESTIMATE_NUM=#{ESTIMATE_NUM}
	</select>
	
	<update id="estimateBidSet" parameterType="com.spring.estimate.EstimateVO">
		update ESTIMATE set ESTIMATE_STATE = #{ESTIMATE_STATE} where ESTIMATE_NUM = #{ESTIMATE_NUM}
	</update>
	
	
	<!-- ///////////////// 견적 제안 댓글 관련 ///////////////// -->
	
	
	<select id="offerList" parameterType="java.util.HashMap" resultMap="offerMap">
        select * from (select ROW_NUMBER() OVER (ORDER BY OFFER_STATE desc, OFFER_PRICE asc, OFFER_DATE desc) AS RNUM, OFFER_NUM, OFFER_ESTIMATE, OFFER_WORKSHOP, OFFER_DATE, 
        OFFER_CONTENT, OFFER_PRICE, OFFER_STATE from ESTIMATE_OFFER where OFFER_ESTIMATE = #{ESTIMATE_NUM}
        <if test="OFFER_WORKSHOP != null"> and OFFER_WORKSHOP = #{OFFER_WORKSHOP}</if>)
        <![CDATA[where RNUM >= #{startRow} and RNUM <= #{endRow}]]>
    </select>
    
    <select id="offerCount" parameterType="java.util.HashMap" resultType="int">
        select count(*) from (select * from ESTIMATE_OFFER
        <if test="OFFER_WORKSHOP!=null">where OFFER_WORKSHOP = #{OFFER_WORKSHOP}</if> ) B
        <if test="ESTIMATE_NUM!=null or OFFER_WORKSHOP!=null">, (select * from ESTIMATE
        <if test="ESTIMATE_NUM!=null">where ESTIMATE_NUM = #{ESTIMATE_NUM}</if>  ) A </if>
        where A.ESTIMATE_NUM = B.OFFER_ESTIMATE 
        <if test="ESTIMATE_STATE != null">and A.ESTIMATE_STATE = #{ESTIMATE_STATE}</if>
    </select>
    
    <select id="offerDetail" parameterType="int" resultMap="offerMap">
    	select * from ESTIMATE_OFFER where OFFER_NUM = #{OFFER_NUM}
    </select>
    
    <insert id="offerInsert" parameterType="com.spring.estimate.EstimateOfferVO">
        insert into ESTIMATE_OFFER values (estimate_offer_seq.nextval, #{OFFER_ESTIMATE}, #{OFFER_WORKSHOP}, 
        sysdate, #{OFFER_CONTENT}, #{OFFER_PRICE}, 0)
    </insert>
    
    <update id="offerModify" parameterType="com.spring.estimate.EstimateOfferVO">
    	update ESTIMATE_OFFER set OFFER_PRICE = #{OFFER_PRICE}, OFFER_CONTENT=#{OFFER_CONTENT} where OFFER_NUM = #{OFFER_NUM}
    </update>
	
	<delete id="offerDelete" parameterType="int">
		delete from ESTIMATE_OFFER where OFFER_NUM = #{OFFER_NUM}
	</delete>
	
	<delete id="offerDeleteAll" parameterType="int">
		delete from ESTIMATE_OFFER where OFFER_ESTIMATE = #{ESTIMATE_NUM}
	</delete>
	
	<update id="offerBidSet" parameterType="com.spring.estimate.EstimateOfferVO">
		update ESTIMATE_OFFER set OFFER_STATE = #{OFFER_STATE} where OFFER_NUM = #{OFFER_NUM}
	</update>
	
	<update id="offerSetInfo" parameterType="com.spring.estimate.EstimateVO">
		update ESTIMATE set ESTIMATE_AVG = #{ESTIMATE_AVG}
		<if test="ESTIMATE_OFFERCOUNT != null">, ESTIMATE_OFFERCOUNT = #{ESTIMATE_OFFERCOUNT}</if> 
		where ESTIMATE_NUM = #{ESTIMATE_NUM}
	</update>
	
	<select id="estimateAvgPrice" parameterType="int" resultType="int">
		select avg(OFFER_PRICE) from estimate_offer where OFFER_ESTIMATE = #{ESTIMATE_NUM}
	</select>
	
	
	<!-- ///////////////// 견적 주문 관리 관련 ///////////////// -->
	
	
	<select id="esOrderList" parameterType="java.util.HashMap" resultMap="orderMap">
		select * from ESTIMATE_ORDER 
		<where>
		<if test="ES_ORDER_BUYER_MAIL!=null">ES_ORDER_BUYER_MAIL = #{ES_ORDER_BUYER_MAIL}</if>
		<if test="ES_ORDER_WOKRSHOP!=null">and ES_ORDER_WORKSHOP = #{ES_ORDER_WORKSHOP}</if>
		<if test="ES_ORDER_STATE!=null">and ES_ORDER_STATE = #{ES_ORDER_STATE}</if>
		</where>
	</select>
	
	<select id="esOrderTable" parameterType="java.util.HashMap" resultMap="orderMap">
		select * from (select ROW_NUMBER() OVER (ORDER BY ES_ORDER_DATE desc) AS RNUM, ES_ORDER_NUM, ES_ORDER_ESTIMATE, ES_ORDER_OFFER, ES_ORDER_TITLE, 
        ES_ORDER_BUYER, ES_ORDER_BUYER_MAIL, ES_ORDER_WORKSHOP, ES_ORDER_PIC, ES_ORDER_DATE, ES_ORDER_PRICE, ES_ORDER_ZIP, ES_ORDER_ADDRESS, ES_ORDER_TRANSFER, ES_ORDER_RECEIVER, 
        ES_ORDER_STATE from ESTIMATE_ORDER 
        <where>
        	<if test="ES_ORDER_WORKSHOP != null"> ES_ORDER_WORKSHOP = #{ES_ORDER_WORKSHOP}</if>
        	<if test="ES_ORDER_STATE != null"> and ES_ORDER_STATE = #{ES_ORDER_STATE}</if>
        	<if test="EO_SEARCH_CATEGORY == 'cate_title'"> and A.ESTIMATE_TITLE like '%'||#{EO_SEARCH}||'%'</if>
			<if test="EO_SEARCH_CATEGORY == 'cate_member'"> and A.ESTIMATE_NICK like '%'||#{EO_SEARCH}||'%'</if>
        </where>
        )
        <![CDATA[where RNUM >= #{startRow} and RNUM <= #{endRow}]]>
        
	</select>
	
	<select id="esOrderDetail" parameterType="int" resultMap="orderMap">
		select * from ESTIMATE_ORDER where ES_ORDER_NUM = #{ES_ORDER_NUM}
	</select>
	
	<select id="getEsOrderNum" parameterType="int" resultType="int">
		select ES_ORDER_NUM from ESTIMATE_ORDER where ES_ORDER_ESTIMATE = #{ESTIMATE_NUM}
	</select>
	
	<insert id="esOrderInsert" parameterType="com.spring.estimate.EstimateOrderVO">
		insert into ESTIMATE_ORDER (ES_ORDER_NUM, ES_ORDER_ESTIMATE, ES_ORDER_OFFER, ES_ORDER_TITLE, ES_ORDER_BUYER, 
		ES_ORDER_WORKSHOP, ES_ORDER_PIC, ES_ORDER_DATE, ES_ORDER_PRICE, ES_ORDER_STATE, ES_ORDER_CATEGORY, ES_ORDER_BUYER_MAIL, ES_ORDER_PAYMENT)
		values (ESTIMATE_ORDER_SEQ.nextval, #{ES_ORDER_ESTIMATE}, #{ES_ORDER_OFFER}, #{ES_ORDER_TITLE}, #{ES_ORDER_BUYER}, 
		#{ES_ORDER_WORKSHOP}, #{ES_ORDER_PIC}, sysdate, #{ES_ORDER_PRICE}, 0, #{ES_ORDER_CATEGORY}, #{ES_ORDER_BUYER_MAIL}, #{ES_ORDER_PAYMENT})
	</insert>
	
	<delete id="esOrderDelete" parameterType="int">
		delete from ESTIMATE_ORDER where ES_ORDER_ESTIMATE = #{ESTIMATE_NUM}
	</delete>
	
	<select id="esOrderCount" parameterType="java.util.HashMap" resultType="int">
		select count(*) from ESTIMATE_ORDER
		<where>
			<if test="ES_ORDER_BUYER_MAIL!=null">ES_ORDER_BUYER_MAIL = #{ES_ORDER_BUYER_MAIL}</if>
			<if test="ES_ORDER_WORKSHOP!=null">and ES_ORDER_WORKSHOP = #{ES_ORDER_WORKSHOP}</if>
			<if test="ES_ORDER_STATE!=null">and ES_ORDER_STATE = #{ES_ORDER_STATE}</if>	
		</where>	
	</select>
	
	<update id="esOrderPay" parameterType="com.spring.estimate.EstimateOrderVO">
		update ESTIMATE_ORDER set ES_ORDER_BUYER_NAME = #{ES_ORDER_BUYER_NAME}, ES_ORDER_ZIP = #{ES_ORDER_ZIP}, 
		ES_ORDER_ADDRESS = #{ES_ORDER_ADDRESS}, ES_ORDER_RECEIVER = #{ES_ORDER_RECEIVER}, ES_ORDER_MEMO = #{ES_ORDER_MEMO}, 
		ES_ORDER_BUYER_ZIP = #{ES_ORDER_BUYER_ZIP}, ES_ORDER_BUYER_ADDRESS = #{ES_ORDER_BUYER_ADDRESS}, 
		ES_ORDER_BUYER_PHONE = #{ES_ORDER_BUYER_PHONE}, ES_ORDER_PHONE = #{ES_ORDER_PHONE}, ES_ORDER_STATE = 1 
		where ES_ORDER_NUM = #{ES_ORDER_NUM}
	</update>
	
	<update id="esOrderUpdate" parameterType="com.spring.estimate.EstimateOrderVO">
		update ESTIMATE_ORDER set ES_ORDER_RECEIVER = #{ES_ORDER_RECEIVER}, ES_ORDER_PHONE = #{ES_ORDER_PHONE}, 
		ES_ORDER_ZIP = #{ES_ORDER_ZIP}, ES_ORDER_ADDRESS = #{ES_ORDER_ADDRESS}, ES_ORDER_MEMO = #{ES_ORDER_MEMO} 
		where ES_ORDER_NUM = #{ES_ORDER_NUM}
	</update>
	
	<update id="esOrderPost" parameterType="com.spring.estimate.EstimateOrderVO">
		update ESTIMATE_ORDER set ES_ORDER_TRANSFER = #{ES_ORDER_TRANSFER}, ES_ORDER_STATE = 3
		where ES_ORDER_NUM = #{ES_ORDER_NUM}
	</update>
	
	
	<update id="esOrderState" parameterType="com.spring.estimate.EstimateOrderVO">
		update ESTIMATE_ORDER set ES_ORDER_STATE = #{ES_ORDER_STATE}
		where ES_ORDER_NUM = #{ES_ORDER_NUM}
	</update>
    
    <!--  ///////////////////////  공방 견적 관리 ///////////////////////  -->
    
    <select id="workOfferList" parameterType="java.util.HashMap" resultMap="customMap">
    	select * from (select ROW_NUMBER() OVER (ORDER BY B.OFFER_DATE desc) as RNUM , A.ESTIMATE_NICK, A.ESTIMATE_MEMBER, 
    	A.ESTIMATE_TITLE, A.ESTIMATE_CATEGORY, B.OFFER_PRICE, B.OFFER_DATE, A.ESTIMATE_STATE, B.OFFER_STATE, A.ESTIMATE_NUM, B.OFFER_NUM 
    	, B.OFFER_CONTENT from ESTIMATE A, (select * from ESTIMATE_OFFER where OFFER_WORKSHOP = #{OFFER_WORKSHOP}) B
    	where A.ESTIMATE_NUM = B.OFFER_ESTIMATE
		<if test="WO_SEARCH_CATEGORY == 'cate_title'"> and A.ESTIMATE_TITLE like '%'||#{WO_SEARCH}||'%'</if>
		<if test="WO_SEARCH_CATEGORY == 'cate_member'"> and A.ESTIMATE_NICK like '%'||#{WO_SEARCH}||'%'</if>
		<if test="WO_CATEGORY != '' and WO_CATEGORY != 'all'"> and A.ESTIMATE_CATEGORY = #{WO_CATEGORY} </if>
		<if test="WO_STATE != '' and WO_STATE != -1"> and A.ESTIMATE_STATE = #{WO_STATE} </if>
   		)
        <![CDATA[where RNUM >= #{startRow} and RNUM <= #{endRow}]]>
    </select>
    
</mapper>