<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MypageMemberMapper">
	<resultMap type="com.spring.member.MemberVO" id="memberResultMap">
		<result property="MEMBER_NUM" column="MEMBER_NUM" />
		<result property="MEMBER_EMAIL" column="MEMBER_EMAIL" />
		<result property="MEMBER_PASS" column="MEMBER_PASS" />
		<result property="MEMBER_NAME" column="MEMBER_NAME" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />
		<result property="MEMBER_PHONE" column="MEMBER_PHONE" />
		<result property="MEMBER_DATE" column="MEMBER_DATE" />
		<result property="MEMBER_PICTURE" column="MEMBER_PICTURE" />
		<result property="MEMBER_LIKE_PRODUCT" column="MEMBER_LIKE_PRODUCT" />
		<result property="MEMBER_STATUS" column="MEMBER_STATUS" />
		<result property="ADDRESS_ZIP" column="ADDRESS_ZIP"/>
		<result property="ADDRESS_ADDRESS1" column="ADDRESS_ADDRESS1"/>
		<result property="ADDRESS_ADDRESS2" column="ADDRESS_ADDRESS2"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="MEMBER_NUM" column="MEMBER_NUM" />	
		<result property="MEMBER_EMAIL" column="MEMBER_EMAIL" />	
		<result property="MEMBER_PASS" column="MEMBER_PASS" />	
		<result property="MEMBER_NAME" column="MEMBER_NAME" />	
		<result property="MEMBER_NICK" column="MEMBER_NICK" />	
		<result property="MEMBER_PHONE" column="MEMBER_PHONE" />	
		<result property="MEMBER_DATE" column="MEMBER_DATE" />	
		<result property="MEMBER_PICTURE" column="MEMBER_PICTURE" />	
		<result property="MEMBER_LIKE_PRODUCT" column="MEMBER_LIKE_PRODUCT" />		
		<result property="MEMBER_STATUS" column="MEMBER_STATUS" />
	</resultMap>
	
	<resultMap type="com.spring.chat.WorkshopVO" id="workMap">
		<result property="WORK_MAIL" column="WORKSHOP_EMAIL"/>
		<result property="WORK_NAME" column="WORKSHOP_NAME"/>
		<result property="WORK_PIC" column="WORKSHOP_PICTURE"/>
	</resultMap>
	
	
	<update id="edit_member" parameterType="com.spring.member.MemberVO">
		update nagagu_member set MEMBER_NICK=#{MEMBER_NICK}, MEMBER_NAME=#{MEMBER_NAME}, 
		MEMBER_PHONE=#{MEMBER_PHONE}, MEMBER_PICTURE=#{MEMBER_PICTURE}, ADDRESS_ZIP=#{ADDRESS_ZIP}, 
		ADDRESS_ADDRESS1=#{ADDRESS_ADDRESS1}, ADDRESS_ADDRESS2=#{ADDRESS_ADDRESS2} where MEMBER_EMAIL=#{MEMBER_EMAIL}
	</update>
	
</mapper>