<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	private int PICS_RE_NUM;
	private int PICS_RE_PICS;
	private int PICS_RE_MEMBER;
	private Date PICS_RE_DATE;
	private String PICS_RE_CONTENT;
	private int PICS_RE_REF;
	private int PICS_RE_STEP;
	private int PICS_RE_LEVEL;
	 -->
<!-- 이 xml문서와 맵핑할 인터페이스 경로, 이름 -->
<mapper namespace="com.spring.mapper.PicsCommentMapper">
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="PICS_RE_NUM" column="PICS_RE_NUM" />	
		<result property="PICS_RE_PICS" column="PICS_RE_PICS" />	
		<result property="PICS_RE_MEMBER" column="PICS_RE_MEMBER" />
		<result property="PICS_RE_DATE" column="PICS_RE_DATE" />	
		<result property="PICS_RE_CONTENT" column="PICS_RE_CONTENT" />
		<result property="PICS_RE_REF" column="PICS_RE_REF" />	
		<result property="PICS_RE_STEP" column="PICS_RE_STEP" />	
		<result property="PICS_RE_LEVEL" column="PICS_RE_LEVEL" />			
	</resultMap>

	<resultMap type="com.spring.community.PicsCommentDB" id="commentResultMap">
		<result property="PICS_RE_NUM" column="PICS_RE_NUM" />	
		<result property="PICS_RE_PICS" column="PICS_RE_PICS" />	
		<result property="PICS_RE_MEMBER" column="PICS_RE_MEMBER" />
		<result property="PICS_RE_DATE" column="PICS_RE_DATE" />	
		<result property="PICS_RE_CONTENT" column="PICS_RE_CONTENT" />
		<result property="PICS_RE_REF" column="PICS_RE_REF" />	
		<result property="PICS_RE_STEP" column="PICS_RE_STEP" />	
		<result property="PICS_RE_LEVEL" column="PICS_RE_LEVEL" />			
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="replyHashmapVO">
		<result property="PICS_RE_NUM" column="PICS_RE_NUM" />	
		<result property="PICS_RE_MEMBER" column="PICS_RE_MEMBER" />
		<result property="PICS_RE_REF" column="PICS_RE_REF" />	
		<result property="PICS_RE_DATE" column="PICS_RE_DATE" />
		<result property="PICS_RE_CONTENT" column="PICS_RE_CONTENT" />
		
		<result property="PICS_NICK" column="PICS_NICK" />
			
		<result property="MEMBER_PICTURE" column="MEMBER_PICTURE" />	
			
	</resultMap>
	
	
	
	
<!-- 	<select id="getPicsCountAll" resultType="int">
		SELECT count(*) FROM PICS  WHERE 1=1
		  <if test="PICS_REVIEW == 1">  AND PICS_REVIEW=#{PICS_REVIEW} </if>
		  <if test="PICS_CATEGORY != 'all'"> AND PICS_CATEGORY=#{PICS_CATEGORY} </if>
	</select> -->
	 <select id="getCount" resultType="int"> 
		SELECT COUNT(*) FROM PICS_COMMENT
	</select>
	<select id="getMaxNum" resultType="int">
		SELECT MAX(PICS_RE_NUM) FROM PICS_COMMENT
	</select>
	
	 <select id="getCommentList" parameterType="com.spring.community.PicsCommentDB" resultMap="hashmapVO">
		SELECT * FROM PICS_COMMENT WHERE PICS_RE_PICS=#{PICS_RE_PICS} ORDER BY PICS_RE_REF DESC, PICS_RE_STEP DESC 
	</select> 
	
	<select id="getCommentCount" parameterType="com.spring.community.PicsCommentDB" resultMap="hashmapVO">
		SELECT COUNT(PICS_RE_REF) AS RE_COUNT,PICS_RE_REF
		FROM PICS_COMMENT 
		WHERE PICS_RE_PICS=#{PICS_RE_PICS} GROUP BY PICS_RE_REF ORDER BY PICS_RE_REF DESC
	</select> 
	
	<insert id="insertComment" parameterType="com.spring.community.PicsCommentDB">
		insert into PICS_COMMENT values
		(#{PICS_RE_NUM},#{PICS_RE_PICS},#{PICS_RE_MEMBER},SYSDATE,#{PICS_RE_CONTENT},#{PICS_RE_REF},#{PICS_RE_STEP},#{PICS_RE_LEVEL})	
	</insert>
	<delete id="deleteComment" parameterType="int">	
		DELETE FROM PICS_COMMENT WHERE PICS_RE_NUM=#{PICS_RE_NUM}
	</delete>
	<update id="updateComment" parameterType="com.spring.community.PicsCommentDB">
		UPDATE PICS_COMMENT SET PICS_RE_CONTENT=#{PICS_RE_CONTENT} WHERE PICS_RE_NUM=#{PICS_RE_NUM}
	</update>
	<update id="updateStep" parameterType="com.spring.community.PicsCommentDB">
		UPDATE PICS_COMMENT SET PICS_RE_STEP=PICS_RE_STEP+1 WHERE PICS_RE_REF=#{PICS_RE_REF}
	</update>

	<select id="getLoginMemberReply" parameterType="int" resultMap="replyHashmapVO">
		SELECT *
		FROM PICS_COMMENT, PICS,NAGAGU_MEMBER 
		WHERE PICS_RE_MEMBER=#{MEMBER_NUM} AND PICS_NUM=PICS_RE_PICS AND MEMBER_NUM=PICS_RE_MEMBER
		ORDER BY PICS_RE_NUM DESC
	</select> 
	
	

</mapper>
