<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
create table PRODUCT (

	PRODUCT_NUM                        NUMBER,        
	PRODUCT_WORKSHOP                   NUMBER,
	PRODUCT_SHOPNAME  					VARCHAR2(50),       
	PRODUCT_DATE                       DATE,          
	PRODUCT_TITLE                      VARCHAR2(100), 
	PRODUCT_CATEGORY                   VARCHAR2(30),  
	PRODUCT_PIC                        VARCHAR2(500),
	PRODUCT_PIC_COUNT                  NUMBER,
	PRODUCT_PRICE                      NUMBER,        
	PRODUCT_COLOR                      VARCHAR2(20),  
	PRODUCT_READ                       NUMBER,        
	PRODUCT_SALES                      NUMBER,        
	PRODUCT_LIKE                       NUMBER,        
	PRODUCT_OPTION                     VARCHAR2(100), 
	PRODUCT_SIZE                       VARCHAR2(50),  
	PRODUCT_SHIP_PRICE                 NUMBER,        
	PRODUCT_SHIP_COMPANY               VARCHAR2(20),  
	PRODUCT_SHIP_RETURN_PRICE          NUMBER,        
	PRODUCT_SHIP_CHANGE_PRICE          NUMBER,        
	PRODUCT_SHIP_RETURN_PLACE          VARCHAR2(20),  
	PRODUCT_SHIP_DAYS                  VARCHAR2(20)  


); 

-->


<!-- 이 xml문서와 맵핑할 인터페이스 경로, 이름 -->
<mapper namespace="com.spring.mapper.ProductMapper">
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />	
		<result property="PRODUCT_WORKSHOP" column="PRODUCT_WORKSHOP" />	
		<result property="PRODUCT_SHOPNAME" column="PRODUCT_SHOPNAME" />	
		<result property="PRODUCT_DATE" column="PRODUCT_DATE" />	
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />	
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />	
		<result property="PRODUCT_PIC" column="PRODUCT_PIC" />	
		<result property="PRODUCT_PIC_COUNT" column="PRODUCT_PIC_COUNT" />	
		<result property="PRODUCT_PRICE" column="PRODUCT_PRICE" />		
		<result property="PRODUCT_GRADE" column="PRODUCT_GRADE" />		
		<result property="PRODUCT_COLOR" column="PRODUCT_COLOR" />		
		<result property="PRODUCT_READ" column="PRODUCT_READ" />		
		<result property="PRODUCT_SALES" column="PRODUCT_SALES" />		
		<result property="PRODUCT_LIKE" column="PRODUCT_LIKE" />		
		<result property="PRODUCT_OPTION" column="PRODUCT_OPTION" />		
		<result property="PRODUCT_SIZE" column="PRODUCT_SIZE" />		
		<result property="PRODUCT_SHIP_PRICE" column="PRODUCT_SHIP_PRICE" />		
		<result property="PRODUCT_SHIP_COMPANY" column="PRODUCT_SHIP_COMPANY" />		
		<result property="PRODUCT_SHIP_RETURN_PRICE" column="PRODUCT_SHIP_RETURN_PRICE" />		
		<result property="PRODUCT_SHIP_CHANGE_PRICE" column="PRODUCT_SHIP_CHANGE_PRICE" />		
		<result property="PRODUCT_SHIP_RETURN_PLACE" column="PRODUCT_SHIP_RETURN_PLACE" />		
		<result property="PRODUCT_SHIP_DAYS" column="PRODUCT_SHIP_DAYS" />		
	</resultMap>

	<resultMap type="com.spring.store.ProductVO" id="productResultMap">
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />	
		<result property="PRODUCT_WORKSHOP" column="PRODUCT_WORKSHOP" />	
		<result property="PRODUCT_SHOPNAME" column="PRODUCT_SHOPNAME" />	
		<result property="PRODUCT_DATE" column="PRODUCT_DATE" />	
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />	
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />	
		<result property="PRODUCT_PIC" column="PRODUCT_PIC" />	
		<result property="PRODUCT_PIC_COUNT" column="PRODUCT_PIC_COUNT" />	
		<result property="PRODUCT_PRICE" column="PRODUCT_PRICE" />		
		<result property="PRODUCT_GRADE" column="PRODUCT_GRADE" />	
		<result property="PRODUCT_COLOR" column="PRODUCT_COLOR" />		
		<result property="PRODUCT_READ" column="PRODUCT_READ" />		
		<result property="PRODUCT_SALES" column="PRODUCT_SALES" />		
		<result property="PRODUCT_LIKE" column="PRODUCT_LIKE" />		
		<result property="PRODUCT_OPTION" column="PRODUCT_OPTION" />		
		<result property="PRODUCT_SIZE" column="PRODUCT_SIZE" />		
		<result property="PRODUCT_SHIP_PRICE" column="PRODUCT_SHIP_PRICE" />		
		<result property="PRODUCT_SHIP_COMPANY" column="PRODUCT_SHIP_COMPANY" />		
		<result property="PRODUCT_SHIP_RETURN_PRICE" column="PRODUCT_SHIP_RETURN_PRICE" />		
		<result property="PRODUCT_SHIP_CHANGE_PRICE" column="PRODUCT_SHIP_CHANGE_PRICE" />		
		<result property="PRODUCT_SHIP_RETURN_PLACE" column="PRODUCT_SHIP_RETURN_PLACE" />		
		<result property="PRODUCT_SHIP_DAYS" column="PRODUCT_SHIP_DAYS" />				
	</resultMap>


	<select id="getproductcount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*) FROM PRODUCT  
		<if test="PRODUCT_CATEGORY != 'all'"> WHERE PRODUCT_CATEGORY=#{PRODUCT_CATEGORY}  </if>
	</select>

	
	<select id="getproductlist" parameterType="java.util.HashMap" resultMap="productResultMap">
		SELECT * FROM
		(SELECT rownum rnum, PRODUCT_NUM, PRODUCT_WORKSHOP, PRODUCT_SHOPNAME, PRODUCT_DATE, PRODUCT_TITLE, PRODUCT_CATEGORY, PRODUCT_PIC, 
		PRODUCT_PIC_COUNT, PRODUCT_PRICE, PRODUCT_GRADE,
		PRODUCT_COLOR, PRODUCT_READ, PRODUCT_SALES, PRODUCT_LIKE, PRODUCT_OPTION, PRODUCT_SIZE, PRODUCT_SHIP_PRICE, 
		PRODUCT_SHIP_COMPANY, PRODUCT_SHIP_RETURN_PRICE, PRODUCT_SHIP_CHANGE_PRICE, PRODUCT_SHIP_RETURN_PLACE, PRODUCT_SHIP_DAYS FROM
			(SELECT * FROM PRODUCT
			<if test="PRODUCT_CATEGORY != 'all'"> WHERE PRODUCT_CATEGORY=#{PRODUCT_CATEGORY}  </if>
			ORDER BY 
			<if test="sort == 'new'"> PRODUCT_DATE </if>
			<if test="sort == 'sales'"> PRODUCT_SALES </if>
			<if test="sort == 'grade'"> PRODUCT_GRADE </if>
			<if test="sort == 'read'"> PRODUCT_READ </if>
			<if test="sort == 'like'"> PRODUCT_LIKE </if>
			<if test="sort == 'price'"> PRODUCT_PRICE </if>
			DESC))
		<![CDATA[ WHERE rnum >= #{startrow} AND rnum <= #{endrow} ]]>
	</select>




	<select id="getproductVO" parameterType="int" resultMap="productResultMap">
		SELECT * FROM PRODUCT WHERE PRODUCT_NUM=#{PRODUCT_NUM}
	</select>

</mapper>