<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ProductManagementMapper">
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />
		<result property="REVIEW_PRODUCT" column="REVIEW_PRODUCT" />
		<result property="REVIEW_DATE" column="REVIEW_DATE" />
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />	
	</resultMap>
		
	<resultMap type="java.util.HashMap" id="productReviewResultMap">
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />
		<result property="REVIEW_PRODUCT" column="REVIEW_PRODUCT" />
		<result property="REVIEW_DATE" column="REVIEW_DATE" />
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />	
	</resultMap>

	<resultMap type="java.util.HashMap" id="productQnaResultMap">
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />
		<result property="QNA_NUM" column="QNA_NUM" />	
		<result property="QNA_MEMBER" column="QNA_MEMBER" />
		<result property="QNA_PRODUCT" column="QNA_PRODUCT" />
		<result property="QNA_DATE" column="QNA_DATE" />
		<result property="QNA_CONTENT" column="QNA_CONTENT" />	
		<result property="QNA_RE" column="QNA_RE" />	
		<result property="QNA_STATUS" column="QNA_STATUS" />	
	</resultMap>

	<resultMap type="java.util.HashMap" id="productListResultMap">
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />	
		<result property="PRODUCT_WORKSHOP" column="PRODUCT_WORKSHOP" />	
		<result property="PRODUCT_SHOPNAME" column="PRODUCT_SHOPNAME" />	
		<result property="PRODUCT_DATE" column="PRODUCT_DATE" />	
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />	
		<result property="PRODUCT_BRIEF" column="PRODUCT_BRIEF" />	
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />
		<result property="PRODUCT_PRICE" column="PRODUCT_PRICE" />		
		<result property="PRODUCT_GRADE" column="PRODUCT_GRADE" />		
		<result property="PRODUCT_READ" column="PRODUCT_READ" />
		<result property="PRODUCT_SALES" column="PRODUCT_SALES" />		
		<result property="PRODUCT_LIKE" column="PRODUCT_LIKE" />	
		<result property="PRODUCT_COLOR" column="PRODUCT_COLOR" />			
		<result property="PRODUCT_SIZE" column="PRODUCT_SIZE" />		
		<result property="PRODUCT_INFO" column="PRODUCT_INFO"/>		
		<result property="PRODUCT_SHIP_PRICE" column="PRODUCT_SHIP_PRICE" />		
		<result property="PRODUCT_SHIP_COMPANY" column="PRODUCT_SHIP_COMPANY" />		
		<result property="PRODUCT_SHIP_RETURN_PRICE" column="PRODUCT_SHIP_RETURN_PRICE" />		
		<result property="PRODUCT_SHIP_CHANGE_PRICE" column="PRODUCT_SHIP_CHANGE_PRICE" />		
		<result property="PRODUCT_SHIP_RETURN_PLACE" column="PRODUCT_SHIP_RETURN_PLACE" />		
		<result property="PRODUCT_SHIP_DAYS" column="PRODUCT_SHIP_DAYS" />		
		<result property="PRODUCT_SHIP_INFO" column="PRODUCT_SHIP_INFO" />		
		<result property="PRODUCT_AS_INFO" column="PRODUCT_AS_INFO" />		
		<result property="PRODUCT_RETURN_INFO" column="PRODUCT_RETURN_INFO" />		
		<result property="PRODUCT_STORE_INFO" column="PRODUCT_STORE_INFO" />		
		<result property="PRODUCT_BANNER" column="PRODUCT_BANNER" />		
		<result property="PRODUCT_IMAGE" column="PRODUCT_IMAGE" />	
		<result property="PRODUCT_STATUS" column="PRODUCT_STATUS" />
		<result property="PRODUCT_STOCK" column="PRODUCT_STOCK" />
	</resultMap>

	<resultMap type="java.util.HashMap" id="SelledproductListResultMap">
		<result property="ORDER_NUM" column="ORDER_NUM" />	
		<result property="MEMBER_NICK" column="MEMBER_NICK" />	
		<result property="ORDER_PRICE" column="ORDER_PRICE" javaType="java.lang.Integer" />	
		<result property="ORDER_DATE" column="ORDER_DATE" />	
		<result property="ORDER_AMOUNT" column="ORDER_AMOUNT" />	
		<result property="ORDER_PERSON" column="ORDER_PERSON" />	
		<result property="ORDER_MEMO" column="ORDER_MEMO" />
		<result property="ORDER_METHOD" column="ORDER_METHOD" />		
		<result property="ORDER_STATE" column="ORDER_STATE"  javaType="java.lang.Integer"/>		
		<result property="ORDER_ADDRESS" column="ORDER_ADDRESS" />
		<result property="ORDER_PHONE" column="ORDER_PHONE" />		
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />	
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" javaType="java.lang.Integer" />		
		<result property="PRODUCT_COLOR" column="PRODUCT_COLOR" />		
		<result property="PRODUCT_SIZE" column="PRODUCT_SIZE"  />		
		<result property="BASKET_AMOUNT" column="BASKET_AMOUNT" javaType="java.lang.Integer" />		
	</resultMap>
	
	<resultMap type="com.spring.store.ProductVO" id="productResultMap">
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />	
		<result property="PRODUCT_WORKSHOP" column="PRODUCT_WORKSHOP" />	
		<result property="PRODUCT_SHOPNAME" column="PRODUCT_SHOPNAME" />	
		<result property="PRODUCT_DATE" column="PRODUCT_DATE" />	
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />	
		<result property="PRODUCT_BRIEF" column="PRODUCT_BRIEF" />	
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />
		<result property="PRODUCT_PRICE" column="PRODUCT_PRICE" />		
		<result property="PRODUCT_GRADE" column="PRODUCT_GRADE" />		
		<result property="PRODUCT_READ" column="PRODUCT_READ" />
		<result property="PRODUCT_SALES" column="PRODUCT_SALES" />		
		<result property="PRODUCT_LIKE" column="PRODUCT_LIKE" />	
		<result property="PRODUCT_COLOR" column="PRODUCT_COLOR" />			
		<result property="PRODUCT_SIZE" column="PRODUCT_SIZE" />		
		<result property="PRODUCT_INFO" column="PRODUCT_INFO"/>		
		<result property="PRODUCT_SHIP_PRICE" column="PRODUCT_SHIP_PRICE" />		
		<result property="PRODUCT_SHIP_COMPANY" column="PRODUCT_SHIP_COMPANY" />		
		<result property="PRODUCT_SHIP_RETURN_PRICE" column="PRODUCT_SHIP_RETURN_PRICE" />		
		<result property="PRODUCT_SHIP_CHANGE_PRICE" column="PRODUCT_SHIP_CHANGE_PRICE" />		
		<result property="PRODUCT_SHIP_RETURN_PLACE" column="PRODUCT_SHIP_RETURN_PLACE" />		
		<result property="PRODUCT_SHIP_DAYS" column="PRODUCT_SHIP_DAYS" />		
		<result property="PRODUCT_SHIP_INFO" column="PRODUCT_SHIP_INFO" />		
		<result property="PRODUCT_AS_INFO" column="PRODUCT_AS_INFO" />		
		<result property="PRODUCT_RETURN_INFO" column="PRODUCT_RETURN_INFO" />		
		<result property="PRODUCT_STORE_INFO" column="PRODUCT_STORE_INFO" />		
		<result property="PRODUCT_BANNER" column="PRODUCT_BANNER" />		
		<result property="PRODUCT_IMAGE" column="PRODUCT_IMAGE" />	
		<result property="PRODUCT_STATUS" column="PRODUCT_STATUS" />
		<result property="PRODUCT_STOCK" column="PRODUCT_STOCK" />
	</resultMap>

	<select id="getproductReviewList" parameterType="java.util.HashMap" resultMap="productReviewResultMap">
		SELECT P.PRODUCT_CATEGORY, P.PRODUCT_TITLE, P.PRODUCT_NUM, N.MEMBER_NICK, R.REVIEW_NUM, R.REVIEW_MEMBER, R.REVIEW_PRODUCT, R.REVIEW_DATE, 
		R.REVIEW_FILE, R.REVIEW_CONTENT, R.REVIEW_GRADE, R.REVIEW_RE
		FROM PRODUCT P, PRODUCT_REVIEW R, nagagu_workshop_member W, nagagu_member N
		WHERE P.PRODUCT_NUM =R.REVIEW_PRODUCT
		AND W.WORKSHOP_NUM=P.PRODUCT_WORKSHOP
		AND W.WORKSHOP_NUM=#{WORKSHOP_NUM}
		AND R.REVIEW_MEMBER=N.MEMBER_NUM
			<if test="selectCategory != 'all'"> AND P.PRODUCT_CATEGORY = #{selectCategory} </if>
			<if test="searchType == 'member_nick'"> AND N.MEMBER_NICK LIKE '%'||#{keyword}||'%' </if>
			<if test="searchType == 'product_title'"> AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%' </if>
			<if test="searchType == 'review_content'"> AND R.REVIEW_CONTENT LIKE '%'||#{keyword}||'%' </if>			
		
			<if test="selectListAlign == 'review_grade'"> AND R.REVIEW_GRADE != 7 </if>
		ORDER BY  R.${selectListAlign} DESC	
	</select>


	<select id="getproductQnaList" parameterType="java.util.HashMap" resultMap="productQnaResultMap">
		SELECT P.PRODUCT_CATEGORY, P.PRODUCT_TITLE, P.PRODUCT_NUM, N.MEMBER_NICK, Q.QNA_NUM, Q.QNA_MEMBER, Q.QNA_PRODUCT, Q.QNA_DATE, 
		Q.QNA_CONTENT, Q.QNA_RE, Q.QNA_STATUS
		FROM PRODUCT P, PRODUCT_QNA Q, nagagu_workshop_member W, nagagu_member N
		WHERE P.PRODUCT_NUM =Q.QNA_PRODUCT
		AND W.WORKSHOP_NUM=P.PRODUCT_WORKSHOP
		AND W.WORKSHOP_NUM=#{WORKSHOP_NUM}
		AND Q.QNA_MEMBER=N.MEMBER_NUM
			
		<if test="selectCategory != 'all'"> AND P.PRODUCT_CATEGORY = #{selectCategory} </if>
		<if test="selectClassType == 'Standby'"> AND Q.QNA_STATUS=0 </if>
		<if test="selectClassType == 'Completed'"> AND Q.QNA_STATUS=1 </if>
		<if test="selectCategory != 'all'"> AND P.PRODUCT_CATEGORY = #{selectCategory} </if>
		<if test="searchType == 'member_nick'"> AND N.MEMBER_NICK LIKE '%'||#{keyword}||'%' </if>
		<if test="searchType == 'product_title'"> AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%' </if>
		<if test="searchType == 'qna_content'"> AND Q.QNA_CONTENT LIKE '%'||#{keyword}||'%' </if>
			
		ORDER BY Q.QNA_DATE DESC	
	</select>

 
	<select id="getproductList" parameterType="java.util.HashMap" resultMap="productListResultMap">
		SELECT * FROM PRODUCT WHERE PRODUCT_WORKSHOP = #{WORKSHOP_NUM} 
			<if test="selectClassType == 'allProducts'"> 
				<if test="selectCategory != 'all'"> AND PRODUCT_CATEGORY = #{selectCategory} </if>
				<if test="keyword != null"> AND PRODUCT_TITLE LIKE '%'||#{keyword}||'%' </if>	
			</if>
			<if test="selectClassType == 'ingSale'"> AND PRODUCT_STATUS = 1  
				<if test="selectCategory != 'all'"> AND PRODUCT_CATEGORY = #{selectCategory} </if>
				<if test="keyword != null"> AND PRODUCT_TITLE LIKE '%'||#{keyword}||'%' </if>
			</if>
			<if test="selectClassType == 'pauseSale'"> AND PRODUCT_STATUS = 0 
				<if test="selectCategory != 'all'"> AND PRODUCT_CATEGORY = #{selectCategory} </if>
				<if test="keyword != null"> AND PRODUCT_TITLE LIKE '%'||#{keyword}||'%' </if>
			</if>
			<if test="selectClassType == 'endSale'"> AND PRODUCT_STATUS = 2 
				<if test="selectCategory != 'all'"> AND PRODUCT_CATEGORY = #{selectCategory} </if>
				<if test="keyword != null"> AND PRODUCT_TITLE LIKE '%'||#{keyword}||'%' </if>
			</if>
		ORDER BY ${selectListAlign} DESC	
	</select>

	<select id="getSelledproductList" parameterType="java.util.HashMap" resultMap="SelledproductListResultMap">
		SELECT O.ORDER_NUM, M.MEMBER_NICK, O.ORDER_PRICE, O.ORDER_DATE, O.ORDER_AMOUNT, O.ORDER_PERSON, 
		O.ORDER_MEMO, O.ORDER_METHOD, O.ORDER_STATE, O.ORDER_ADDRESS, O.ORDER_PHONE, 
		P.PRODUCT_TITLE, P.PRODUCT_NUM
			FROM PRODUCT_ORDER O, PRODUCT P, NAGAGU_WORKSHOP_MEMBER W, BASKET B, NAGAGU_MEMBER M
				WHERE W.WORKSHOP_NUM = #{WORKSHOP_NUM}
				AND B.BASKET_PRODUCT= P.PRODUCT_NUM 
				AND B.BASKET_NUM = O.ORDER_NUM
				AND O.ORDER_AMOUNT = #{order_amount, jdbcType=VARCHAR}
				AND O.ORDER_MEMBER = M.MEMBER_NUM
				
				<if test="selectORDER_STATE != 'ORDER_STATE'"> AND O.ORDER_STATE = #{selectORDER_STATE} </if>
				<if test="selectORDER_METHOD != 'ORDER_METHOD'"> AND O.ORDER_METHOD = #{selectORDER_METHOD} </if>
				<if test="selectMYPRODUCT != 'MYPRODUCT'"> AND P.PRODUCT_TITLE LIKE '%'||#{selectMYPRODUCT}||'%' </if>
				<if test="searchType == 'order_amount'"> AND O.ORDER_AMOUNT LIKE '%'||#{keyword}||'%' </if>
				<if test="searchType == 'member_nick'"> AND M.MEMBER_NICK LIKE '%'||#{keyword}||'%' </if>
				<if test="searchType == 'product_title'"> AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%' </if>
				
		ORDER BY O.${selectListAlign} DESC
	</select>
	<!-- 판매된 상세 정보 -->
	<select id="getSelledInfo" parameterType="java.util.HashMap" resultMap="SelledproductListResultMap">
		SELECT O.ORDER_NUM, M.MEMBER_NICK, O.ORDER_PRICE, O.ORDER_DATE, O.ORDER_AMOUNT, O.ORDER_PERSON, 
		O.ORDER_MEMO, O.ORDER_METHOD, O.ORDER_STATE, O.ORDER_ADDRESS, O.ORDER_PHONE, 
		P.PRODUCT_TITLE, P.PRODUCT_NUM, P.PRODUCT_SIZE, P.PRODUCT_COLOR, B.BASKET_AMOUNT
			FROM PRODUCT_ORDER O, PRODUCT P, NAGAGU_WORKSHOP_MEMBER W, BASKET B, NAGAGU_MEMBER M
				WHERE W.WORKSHOP_NUM = #{WORKSHOP_NUM}
				AND B.BASKET_PRODUCT= P.PRODUCT_NUM 
				AND B.BASKET_NUM = O.ORDER_NUM
				AND O.ORDER_AMOUNT = #{ORDER_AMOUNT}
				AND O.ORDER_MEMBER = M.MEMBER_NUM
		ORDER BY O.ORDER_DATE DESC
	</select>
<!-- 
SELECT DISTINCT ORDER_AMOUNT, ORDER_PRICE FROM PRODUCT_ORDER ORDER BY ORDER_PRICE DESC;

 -->
	<!-- 구매번호 중복 제거하여 구함(주문번호 수만큼 for문 돌려서 이 구매번호에 해당하는 상품 리스트 구함) -->
	<select id="getOrder_amount" parameterType="java.util.HashMap" resultType="String">
		SELECT DISTINCT ORDER_AMOUNT FROM PRODUCT_ORDER
	</select>	
	
	<update id="modifyStatus" parameterType="java.util.HashMap">  
		UPDATE PRODUCT 
			SET PRODUCT_STATUS = #{to_status}
		WHERE PRODUCT_NUM=#{PRODUCT_NUM}	
	</update>
	
	<update id="modifySelledStatus" parameterType="java.util.HashMap">  
		UPDATE PRODUCT_ORDER 
			SET ORDER_STATE = #{to_state}
		WHERE ORDER_AMOUNT=#{ORDER_AMOUNT}	
	</update>
	
	<delete id="deleteProducts" parameterType="java.util.HashMap">	
		DELETE FROM PRODUCT WHERE PRODUCT_NUM=#{PRODUCT_NUM}
	</delete>	

	<select id="getProductVoOfWorkshop" parameterType="java.util.HashMap" resultMap="productResultMap">
		SELECT * FROM PRODUCT WHERE PRODUCT_NUM = #{PRODUCT_NUM} AND PRODUCT_WORKSHOP = #{WORKSHOP_NUM}			
	</select>	

	<select id="checkReviewCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*) FROM PRODUCT_REVIEW WHERE REVIEW_PRODUCT = #{PRODUCT_NUM} 		
	</select>	
	
	<select id="checkQnaCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*) FROM PRODUCT_QNA WHERE QNA_PRODUCT = #{PRODUCT_NUM} 		
	</select>	

	
	<!-- 상품글 수정 -->
 	<select id="getproductDetail" parameterType="int" resultMap="productResultMap"> 
 		SELECT * FROM PRODUCT WHERE PRODUCT_NUM = #{PRODUCT_NUM}
 	</select>	
 	<update id="updateProduct" parameterType="com.spring.store.ProductVO">
 		update PRODUCT set 
 			PRODUCT_TITLE=#{PRODUCT_TITLE}, PRODUCT_BRIEF=#{PRODUCT_BRIEF}, PRODUCT_CATEGORY=#{PRODUCT_CATEGORY}, PRODUCT_PRICE=#{PRODUCT_PRICE}, 
	 		PRODUCT_SIZE=#{PRODUCT_SIZE}, PRODUCT_COLOR=#{PRODUCT_COLOR}, PRODUCT_INFO=#{PRODUCT_INFO}, PRODUCT_SHIP_PRICE=#{PRODUCT_SHIP_PRICE}, 
	 		PRODUCT_SHIP_COMPANY=#{PRODUCT_SHIP_COMPANY}, PRODUCT_SHIP_RETURN_PRICE=#{PRODUCT_SHIP_RETURN_PRICE}, PRODUCT_SHIP_CHANGE_PRICE=#{PRODUCT_SHIP_CHANGE_PRICE}, 
	 		PRODUCT_SHIP_RETURN_PLACE=#{PRODUCT_SHIP_RETURN_PLACE}, PRODUCT_SHIP_DAYS=#{PRODUCT_SHIP_DAYS}, PRODUCT_SHIP_INFO=#{PRODUCT_SHIP_INFO}, 
	 		PRODUCT_AS_INFO=#{PRODUCT_AS_INFO}, PRODUCT_RETURN_INFO=#{PRODUCT_RETURN_INFO},
	 		PRODUCT_STORE_INFO=#{PRODUCT_STORE_INFO}, PRODUCT_BANNER=#{PRODUCT_BANNER}, PRODUCT_STOCK=#{PRODUCT_STOCK}, PRODUCT_IMAGE=#{PRODUCT_IMAGE}
 		where PRODUCT_NUM=#{PRODUCT_NUM} 
 	</update>
 		
</mapper>