<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
create table PRODUCT (
    PRODUCT_NUM                 NUMBER PRIMARY KEY,
    PRODUCT_WORKSHOP            NUMBER,
    PRODUCT_SHOPNAME            VARCHAR2(50),
    PRODUCT_DATE                DATE,
    PRODUCT_TITLE               VARCHAR2(100),
    PRODUCT_BRIEF               VARCHAR2(100),
    PRODUCT_CATEGORY            VARCHAR2(30),
    PRODUCT_PRICE               NUMBER,
    PRODUCT_GRADE               NUMBER(2,1),
    PRODUCT_READ                NUMBER,
    PRODUCT_SALES               NUMBER,
    PRODUCT_LIKE                NUMBER,
    PRODUCT_COLOR               VARCHAR2(50),
    PRODUCT_OPTION              VARCHAR2(100),
    PRODUCT_SIZE                VARCHAR2(50),
    PRODUCT_INFO                VARCHAR2(1000),
    PRODUCT_SHIP_PRICE          NUMBER,
    PRODUCT_SHIP_COMPANY        VARCHAR2(20),
    PRODUCT_SHIP_RETURN_PRICE   NUMBER,
    PRODUCT_SHIP_CHANGE_PRICE   NUMBER,
    PRODUCT_SHIP_RETURN_PLACE   VARCHAR2(20),
    PRODUCT_SHIP_DAYS           VARCHAR2(20),
    PRODUCT_SHIP_INFO           VARCHAR2(1000),
    PRODUCT_AS_INFO             VARCHAR2(2000),
    PRODUCT_RETURN_INFO         VARCHAR2(2000),
    PRODUCT_STORE_INFO          VARCHAR2(2000),
    PRODUCT_BANNER              VARCHAR2(2000),
    PRODUCT_IMAGE               VARCHAR2(2000)
); 
create sequence product_seq
    start with 1
    increment by 1
    maxvalue 10000;

-->


<!-- 이 xml문서와 맵핑할 인터페이스 경로, 이름 -->
<mapper namespace="com.spring.mapper.ProductMapper">
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />	
		<result property="PRODUCT_WORKSHOP" column="PRODUCT_WORKSHOP" />	
		<result property="PRODUCT_SHOPNAME" column="PRODUCT_SHOPNAME" />	
		<result property="PRODUCT_DATE" column="PRODUCT_DATE" />	
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />	
		<result property="PRODUCT_BRIEF" column="PRODUCT_BRIEF" />	
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />
		<result property="PRODUCT_PRICE" column="PRODUCT_PRICE" />		
		<result property="PRODUCT_GRADE" column="PRODUCT_GRADE" />		
		<result property="PRODUCT_READ" column="PRODUCT_READ" />
		<result property="PRODUCT_SALES" column="PRODUCT_SALES" />		
		<result property="PRODUCT_LIKE" column="PRODUCT_LIKE" />	
		<result property="PRODUCT_COLOR" column="PRODUCT_COLOR" />			
		<result property="PRODUCT_OPTION" column="PRODUCT_OPTION" />		
		<result property="PRODUCT_SIZE" column="PRODUCT_SIZE" />		
		<result property="PRODUCT_INFO" column="PRODUCT_INFO" />		
		<result property="PRODUCT_SHIP_PRICE" column="PRODUCT_SHIP_PRICE" />		
		<result property="PRODUCT_SHIP_COMPANY" column="PRODUCT_SHIP_COMPANY" />		
		<result property="PRODUCT_SHIP_RETURN_PRICE" column="PRODUCT_SHIP_RETURN_PRICE" />		
		<result property="PRODUCT_SHIP_CHANGE_PRICE" column="PRODUCT_SHIP_CHANGE_PRICE" />		
		<result property="PRODUCT_SHIP_RETURN_PLACE" column="PRODUCT_SHIP_RETURN_PLACE" />		
		<result property="PRODUCT_SHIP_DAYS" column="PRODUCT_SHIP_DAYS" />		
		<result property="PRODUCT_SHIP_INFO" column="PRODUCT_SHIP_INFO" />		
		<result property="PRODUCT_AS_INFO" column="PRODUCT_AS_INFO" />		
		<result property="PRODUCT_RETURN_INFO" column="PRODUCT_RETURN_INFO" />		
		<result property="PRODUCT_STORE_INFO" column="PRODUCT_STORE_INFO" />		
		<result property="PRODUCT_BANNER" column="PRODUCT_BANNER" />		
		<result property="PRODUCT_IMAGE" column="PRODUCT_IMAGE" />		
	</resultMap>

	<resultMap type="com.spring.store.ProductVO" id="productResultMap">
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />	
		<result property="PRODUCT_WORKSHOP" column="PRODUCT_WORKSHOP" />	
		<result property="PRODUCT_SHOPNAME" column="PRODUCT_SHOPNAME" />	
		<result property="PRODUCT_DATE" column="PRODUCT_DATE" />	
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />	
		<result property="PRODUCT_BRIEF" column="PRODUCT_BRIEF" />	
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />
		<result property="PRODUCT_PRICE" column="PRODUCT_PRICE" />		
		<result property="PRODUCT_GRADE" column="PRODUCT_GRADE" />		
		<result property="PRODUCT_READ" column="PRODUCT_READ" />
		<result property="PRODUCT_SALES" column="PRODUCT_SALES" />		
		<result property="PRODUCT_LIKE" column="PRODUCT_LIKE" />	
		<result property="PRODUCT_COLOR" column="PRODUCT_COLOR" />			
		<result property="PRODUCT_OPTION" column="PRODUCT_OPTION" />		
		<result property="PRODUCT_SIZE" column="PRODUCT_SIZE" />		
		<result property="PRODUCT_INFO" column="PRODUCT_INFO" />		
		<result property="PRODUCT_SHIP_PRICE" column="PRODUCT_SHIP_PRICE" />		
		<result property="PRODUCT_SHIP_COMPANY" column="PRODUCT_SHIP_COMPANY" />		
		<result property="PRODUCT_SHIP_RETURN_PRICE" column="PRODUCT_SHIP_RETURN_PRICE" />		
		<result property="PRODUCT_SHIP_CHANGE_PRICE" column="PRODUCT_SHIP_CHANGE_PRICE" />		
		<result property="PRODUCT_SHIP_RETURN_PLACE" column="PRODUCT_SHIP_RETURN_PLACE" />		
		<result property="PRODUCT_SHIP_DAYS" column="PRODUCT_SHIP_DAYS" />		
		<result property="PRODUCT_SHIP_INFO" column="PRODUCT_SHIP_INFO" />		
		<result property="PRODUCT_AS_INFO" column="PRODUCT_AS_INFO" />		
		<result property="PRODUCT_RETURN_INFO" column="PRODUCT_RETURN_INFO" />		
		<result property="PRODUCT_STORE_INFO" column="PRODUCT_STORE_INFO" />		
		<result property="PRODUCT_BANNER" column="PRODUCT_BANNER" />		
		<result property="PRODUCT_IMAGE" column="PRODUCT_IMAGE" />	
	</resultMap>

	<resultMap type="com.spring.workshop.WorkshopVO" id="workshopResultMap">
		<result property="WORKSHOP_NUM" column="WORKSHOP_NUM" />	
		<result property="WORKSHOP_EMAIL" column="WORKSHOP_EMAIL" />	
		<result property="WORKSHOP_PASS" column="WORKSHOP_PASS" />	
		<result property="WORKSHOP_NAME" column="WORKSHOP_NAME" />	
		<result property="WORKSHOP_PHONE" column="WORKSHOP_PHONE" />	
		<result property="WORKSHOP_ADDRESS1" column="WORKSHOP_ADDRESS1" />	
		<result property="WORKSHOP_ADDRESS2" column="WORKSHOP_ADDRESS2" />	
		<result property="WORKSHOP_ZIP" column="WORKSHOP_ZIP" />	
		<result property="WORKSHOP_LICENSE" column="WORKSHOP_LICENSE" />		
		<result property="WORKSHOP_DATE" column="WORKSHOP_DATE" />	
		<result property="WORKSHOP_INTRO" column="WORKSHOP_INTRO" />		
		<result property="WORKSHOP_OWNER" column="WORKSHOP_OWNER" />		
		<result property="WORKSHOP_BANK" column="WORKSHOP_BANK" />		
		<result property="WORKSHOP_ACNUM" column="WORKSHOP_ACNUM" />		
			
	</resultMap>

	<!-- 공방 글쓰기 업로드 -->
 	<select id="selectWorkshop" parameterType="com.spring.store.ProductVO" resultMap="workshopResultMap">
		SELECT * FROM nagagu_workshop_member WHERE WORKSHOP_NUM = #{PRODUCT_WORKSHOP}
	</select>

 	<select id="getAllWorkshopProduct" parameterType="com.spring.store.ProductVO" resultMap="productResultMap">
		SELECT * FROM PRODUCT WHERE PRODUCT_WORKSHOP=#{WORKSHOP_NUM}
	</select>
	
	<insert id="insertProduct" parameterType="com.spring.workshop.WorkshopVO">
 		INSERT INTO PRODUCT(PRODUCT_NUM, PRODUCT_WORKSHOP, PRODUCT_SHOPNAME, PRODUCT_DATE, PRODUCT_TITLE, PRODUCT_BRIEF, PRODUCT_CATEGORY, 
 								 PRODUCT_PRICE, PRODUCT_GRADE, PRODUCT_READ, PRODUCT_SALES, PRODUCT_LIKE, PRODUCT_COLOR, 
			  					 PRODUCT_OPTION, PRODUCT_SIZE, PRODUCT_INFO, PRODUCT_SHIP_PRICE, PRODUCT_SHIP_COMPANY, 
			  					 PRODUCT_SHIP_RETURN_PRICE, PRODUCT_SHIP_CHANGE_PRICE, PRODUCT_SHIP_RETURN_PLACE,
			  					 PRODUCT_SHIP_DAYS, PRODUCT_SHIP_INFO, PRODUCT_AS_INFO, PRODUCT_RETURN_INFO, PRODUCT_STORE_INFO,
			  					 PRODUCT_BANNER, PRODUCT_IMAGE
			  					 ) 
			 		VALUES(product_seq.nextval, #{PRODUCT_WORKSHOP}, #{PRODUCT_SHOPNAME}, #{PRODUCT_DATE}, #{PRODUCT_TITLE}, #{PRODUCT_BRIEF}, #{PRODUCT_CATEGORY}, 
			 			   #{PRODUCT_PRICE}, #{PRODUCT_GRADE}, #{PRODUCT_READ}, #{PRODUCT_SALES}, #{PRODUCT_LIKE}, #{PRODUCT_COLOR}, 
			 			   #{PRODUCT_OPTION}, #{PRODUCT_SIZE}, #{PRODUCT_INFO}, #{PRODUCT_SHIP_PRICE}, #{PRODUCT_SHIP_COMPANY}, 
			 			   #{PRODUCT_SHIP_RETURN_PRICE}, #{PRODUCT_SHIP_CHANGE_PRICE}, #{PRODUCT_SHIP_RETURN_PLACE},
			 			   #{PRODUCT_SHIP_DAYS}, #{PRODUCT_SHIP_INFO}, #{PRODUCT_AS_INFO}, #{PRODUCT_RETURN_INFO}, #{PRODUCT_STORE_INFO}, 
			 			   #{PRODUCT_BANNER}, #{PRODUCT_IMAGE}
			 			   )
 	</insert>	
	
	<select id="getproductcount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*) FROM PRODUCT  
		<if test="PRODUCT_CATEGORY != 'all'"> WHERE PRODUCT_CATEGORY=#{PRODUCT_CATEGORY}  </if>
	</select>

	
	<select id="getproductlist" parameterType="java.util.HashMap" resultMap="productResultMap">
		SELECT * FROM
		(SELECT rownum rnum, PRODUCT_NUM, PRODUCT_WORKSHOP, PRODUCT_SHOPNAME, PRODUCT_DATE, PRODUCT_TITLE, PRODUCT_BRIEF, PRODUCT_CATEGORY, 
		PRODUCT_PRICE, PRODUCT_GRADE, PRODUCT_READ, PRODUCT_SALES, PRODUCT_LIKE, PRODUCT_COLOR,
		PRODUCT_OPTION, PRODUCT_SIZE, PRODUCT_INFO, PRODUCT_SHIP_PRICE, PRODUCT_SHIP_COMPANY,  
		PRODUCT_SHIP_RETURN_PRICE, PRODUCT_SHIP_CHANGE_PRICE, PRODUCT_SHIP_RETURN_PLACE,
		PRODUCT_SHIP_DAYS, PRODUCT_SHIP_INFO, PRODUCT_AS_INFO, PRODUCT_RETURN_INFO, PRODUCT_STORE_INFO,
		PRODUCT_BANNER, PRODUCT_IMAGE FROM
			(SELECT * FROM PRODUCT
			<if test="PRODUCT_CATEGORY != 'all'"> WHERE PRODUCT_CATEGORY=#{PRODUCT_CATEGORY}  </if>
			ORDER BY 
			<if test="sort == 'new'"> PRODUCT_DATE </if>
			<if test="sort == 'sales'"> PRODUCT_SALES </if>
			<if test="sort == 'grade'"> PRODUCT_GRADE </if>
			<if test="sort == 'read'"> PRODUCT_READ </if>
			<if test="sort == 'like'"> PRODUCT_LIKE </if>
			<if test="sort == 'price'"> PRODUCT_PRICE </if>
			DESC))
		<![CDATA[ WHERE rnum >= #{startrow} AND rnum <= #{endrow} ]]>
	</select>

	<select id="getproductVO" parameterType="int" resultMap="productResultMap">
		SELECT * FROM PRODUCT WHERE PRODUCT_NUM=#{PRODUCT_NUM}
	</select>
	
	<update id="updateReadCount" parameterType="int">
        UPDATE PRODUCT SET PRODUCT_READ = (PRODUCT_READ+1) WHERE PRODUCT_NUM=#{PRODUCT_NUM}
	</update>	

	<update id="updateGrade" parameterType="com.spring.store.ProductVO">
        UPDATE PRODUCT SET PRODUCT_GRADE = #{PRODUCT_GRADE} WHERE PRODUCT_NUM=#{PRODUCT_NUM}
	</update>	
	
	<update id="updateProductLike" parameterType="java.util.HashMap">
		UPDATE PRODUCT SET
			<if test="count == 'plus'">PRODUCT_LIKE = PRODUCT_LIKE +1 </if>
			<if test="count == 'minus'">PRODUCT_LIKE = PRODUCT_LIKE -1 </if>
		WHERE PRODUCT_NUM=#{PRODUCT_NUM}
	</update>
	
	<!-- 좋아요 한 사진 리스트(좋아요사진=사진넘버 중에서 파라미터 멤버가 좋아한 사진들) -->
	<select id="getProductLike" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*)FROM MEMBER_LIKE WHERE LIKE_MEMBER=#{LIKE_MEMBER} AND LIKE_PRODUCT=#{PRODUCT_NUM}
	</select>	
	
	

	<select id="getMemberLikeProduct" parameterType="java.util.HashMap" resultMap="productResultMap">
      SELECT * FROM MEMBER_LIKE,PRODUCT WHERE LIKE_MEMBER=#{LIKE_MEMBER} AND LIKE_PRODUCT=PRODUCT_NUM 
   </select>
</mapper>