<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ProductManagementMapper">
	<resultMap type="com.spring.store.Product_reviewVO" id="productResultMap">
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />
		<result property="REVIEW_PRODUCT" column="REVIEW_PRODUCT" />
		<result property="REVIEW_DATE" column="REVIEW_DATE" />
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />	
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="productReviewResultMap">
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />
		<result property="REVIEW_PRODUCT" column="REVIEW_PRODUCT" />
		<result property="REVIEW_DATE" column="REVIEW_DATE" />
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />	
	</resultMap>

	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />
		<result property="REVIEW_PRODUCT" column="REVIEW_PRODUCT" />
		<result property="REVIEW_DATE" column="REVIEW_DATE" />
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />	
	</resultMap>
	
	<resultMap type="com.spring.workshop.WorkShopMemberVO" id="workshopMemberResultMap">
		<result property="WORKSHOP_NUM" column="WORKSHOP_NUM" />
		<result property="WORKSHOP_EMAIL" column="WORKSHOP_EMAIL" />
		<result property="WORKSHOP_PASS" column="WORKSHOP_PASS" />
		<result property="WORKSHOP_NAME" column="WORKSHOP_NAME" />
		<result property="WORKSHOP_CEO_NAME" column="WORKSHOP_CEO_NAME" />
		<result property="WORKSHOP_PHONE" column="WORKSHOP_PHONE" />
		<result property="WORKSHOP_ZIP" column="WORKSHOP_ZIP" />
		<result property="WORKSHOP_ADDRESS1" column="WORKSHOP_ADDRESS1" />
		<result property="WORKSHOP_ADDRESS2" column="WORKSHOP_ADDRESS2" />
		<result property="WORKSHOP_LICENSE" column="WORKSHOP_LICENSE" />
		<result property="WORKSHOP_DATE" column="WORKSHOP_DATE" />		
		<result property="WORKSHOP_INTRO" column="WORKSHOP_INTRO" />		
		<result property="WORKSHOP_OWNER" column="WORKSHOP_OWNER" />		
		<result property="WORKSHOP_BANK" column="WORKSHOP_BANK" />
		<result property="WORKSHOP_ACNUM" column="WORKSHOP_ACNUM" />
		<result property="WORKSHOP_STATUS" column="WORKSHOP_STATUS" />
		<result property="WORKSHOP_PICTURE" column="WORKSHOP_PICTURE" />
	</resultMap>
	
	<resultMap type="com.spring.academy.MyClassVO" id="myclassResultMap">
		<result property="MY_CLASS_NUM" column="MY_CLASS_NUM" />	
		<result property="MY_CLASS_MEMBERNUM" column="MY_CLASS_MEMBERNUM" />
		<result property="MY_CLASS_CLASSNUM" column="MY_CLASS_CLASSNUM" />
		<result property="MY_CLASS_STATUS" column="MY_CLASS_STATUS" />
	</resultMap>
	

	
	<select id="getManagementProductList" resultMap="productReviewResultMap">
		SELECT P.PRODUCT_CATEGORY, P.PRODUCT_TITLE, R.REVIEW_NUM, R.REVIEW_MEMBER, 
		R.REVIEW_PRODUCT, R.REVIEW_DATE, R.REVIEW_FILE, 
		R.REVIEW_CONTENT, R.REVIEW_GRADE, R.REVIEW_RE
		FROM PRODUCT P, PRODUCT_REVIEW R
		WHERE P.PRODUCT_NUM =R.REVIEW_PRODUCT
		ORDER BY R.REVIEW_DATE DESC
	</select>


<!-- 
	<select id="getSearchList" resultMap="classResultMap">
		select * from (select CLASS_NUMBER, CLASS_STATUS, CLASS_AREA, CLASS_AMOUNT, CLASS_NAME, CLASS_CATEGORY, 
	    CLASS_DATE_CONFIGURATION_1, CLASS_DATE_CONFIGURATION_2, CLASS_COUNT_MEMBER from (select * from ACADEMY where
	    <if test="searchType == 'className'"> CLASS_NAME LIKE '%'||#{keyword}||'%'</if>
	    <if test="searchType == 'area'"> CLASS_AREA LIKE '%'||#{keyword}||'%'</if>
	    <if test="searchType == 'category'"> CLASS_CATEGORY LIKE '%'||#{keyword}||'%'</if>
	    ) order by CLASS_DATE desc)    
	</select>
	 -->
	
</mapper>