<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ProductManagementMapper">
	<resultMap type="com.spring.store.Product_reviewVO" id="productResultMap">
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />
		<result property="REVIEW_PRODUCT" column="REVIEW_PRODUCT" />
		<result property="REVIEW_DATE" column="REVIEW_DATE" />
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />	
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="productReviewResultMap">
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />
		<result property="REVIEW_PRODUCT" column="REVIEW_PRODUCT" />
		<result property="REVIEW_DATE" column="REVIEW_DATE" />
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />	
	</resultMap>

	<resultMap type="java.util.HashMap" id="productQnaResultMap">
		<result property="PRODUCT_CATEGORY" column="PRODUCT_CATEGORY" />
		<result property="PRODUCT_TITLE" column="PRODUCT_TITLE" />
		<result property="PRODUCT_NUM" column="PRODUCT_NUM" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />
		<result property="QNA_NUM" column="QNA_NUM" />	
		<result property="QNA_MEMBER" column="QNA_MEMBER" />
		<result property="QNA_PRODUCT" column="QNA_PRODUCT" />
		<result property="QNA_DATE" column="QNA_DATE" />
		<result property="QNA_CONTENT" column="QNA_CONTENT" />	
		<result property="QNA_RE" column="QNA_RE" />	
		<result property="QNA_STATUS" column="QNA_STATUS" />	
	</resultMap>

	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="REVIEW_NUM" column="REVIEW_NUM" />	
		<result property="REVIEW_MEMBER" column="REVIEW_MEMBER" />
		<result property="REVIEW_PRODUCT" column="REVIEW_PRODUCT" />
		<result property="REVIEW_DATE" column="REVIEW_DATE" />
		<result property="REVIEW_FILE" column="REVIEW_FILE" />	
		<result property="REVIEW_CONTENT" column="REVIEW_CONTENT" />	
		<result property="REVIEW_GRADE" column="REVIEW_GRADE" />	
		<result property="REVIEW_RE" column="REVIEW_RE" />	
	</resultMap>
	

	
	<select id="getproductReviewList" parameterType="java.util.HashMap" resultMap="productReviewResultMap">
		SELECT P.PRODUCT_CATEGORY, P.PRODUCT_TITLE, P.PRODUCT_NUM, N.MEMBER_NICK, R.REVIEW_NUM, R.REVIEW_MEMBER, R.REVIEW_PRODUCT, R.REVIEW_DATE, 
		R.REVIEW_FILE, R.REVIEW_CONTENT, R.REVIEW_GRADE, R.REVIEW_RE
		FROM PRODUCT P, PRODUCT_REVIEW R, nagagu_workshop_member W, nagagu_member N
		WHERE P.PRODUCT_NUM =R.REVIEW_PRODUCT
		AND W.WORKSHOP_NUM=P.PRODUCT_WORKSHOP
		AND W.WORKSHOP_NUM=#{WORKSHOP_NUM}
		AND R.REVIEW_MEMBER=N.MEMBER_NUM
		ORDER BY R.REVIEW_DATE DESC		
	</select>
	
	<select id="getReviewSearchList" parameterType="java.util.HashMap" resultMap="productReviewResultMap">
		SELECT P.PRODUCT_CATEGORY, P.PRODUCT_TITLE, P.PRODUCT_NUM, N.MEMBER_NICK, R.REVIEW_NUM, R.REVIEW_MEMBER, R.REVIEW_PRODUCT, R.REVIEW_DATE, 
		R.REVIEW_FILE, R.REVIEW_CONTENT, R.REVIEW_GRADE, R.REVIEW_RE
		FROM PRODUCT P, PRODUCT_REVIEW R, nagagu_workshop_member W, nagagu_member N
		WHERE P.PRODUCT_NUM =R.REVIEW_PRODUCT
		AND W.WORKSHOP_NUM=P.PRODUCT_WORKSHOP
		AND W.WORKSHOP_NUM=#{WORKSHOP_NUM}
		AND R.REVIEW_MEMBER=N.MEMBER_NUM
		<if test="searchType == 'member_nick'">AND N.MEMBER_NICK LIKE '%'||#{keyword}||'%'</if>
		<if test="searchType == 'product_title'">AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%'</if>
		<if test="searchType == 'category'">
			AND P.PRODUCT_CATEGORY = #{categorySelect}
			AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%'
		</if>
		ORDER BY R.REVIEW_DATE DESC			
	</select>
	
	<select id="getproductQnaList" parameterType="java.util.HashMap" resultMap="productQnaResultMap">
		SELECT P.PRODUCT_CATEGORY, P.PRODUCT_TITLE, P.PRODUCT_NUM, N.MEMBER_NICK, Q.QNA_NUM, Q.QNA_MEMBER, Q.QNA_PRODUCT, Q.QNA_DATE, 
		Q.QNA_CONTENT, Q.QNA_RE, Q.QNA_STATUS
		FROM PRODUCT P, PRODUCT_QNA Q, nagagu_workshop_member W, nagagu_member N
		WHERE P.PRODUCT_NUM =Q.QNA_PRODUCT
		AND W.WORKSHOP_NUM=P.PRODUCT_WORKSHOP
		AND W.WORKSHOP_NUM=#{WORKSHOP_NUM}
		AND Q.QNA_MEMBER=N.MEMBER_NUM
			<if test="selectClassType == 'all'"></if>
			<if test="selectClassType == 'Standby'">AND Q.QNA_STATUS=0</if>
			<if test="selectClassType == 'Completed'">AND Q.QNA_STATUS=1</if>
		ORDER BY Q.QNA_DATE DESC
	</select>

	<select id="getproductQnaList1" parameterType="java.util.HashMap" resultMap="productQnaResultMap">
		SELECT P.PRODUCT_CATEGORY, P.PRODUCT_TITLE, P.PRODUCT_NUM, N.MEMBER_NICK, Q.QNA_NUM, Q.QNA_MEMBER, Q.QNA_PRODUCT, Q.QNA_DATE, 
		Q.QNA_CONTENT, Q.QNA_RE, Q.QNA_STATUS
		FROM PRODUCT P, PRODUCT_QNA Q, nagagu_workshop_member W, nagagu_member N
		WHERE P.PRODUCT_NUM =Q.QNA_PRODUCT
		AND W.WORKSHOP_NUM=P.PRODUCT_WORKSHOP
		AND W.WORKSHOP_NUM=#{WORKSHOP_NUM}
		AND Q.QNA_MEMBER=N.MEMBER_NUM
			<if test="selectClassType == 'all'">
				<if test="searchType == 'member_nick'">AND N.MEMBER_NICK LIKE '%'||#{keyword}||'%'</if>
				<if test="searchType == 'product_title'">AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%'</if>
				<if test="searchType == 'category'">
					AND P.PRODUCT_CATEGORY = #{categorySelect}
					AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%'
				</if>		
			</if>
			<if test="selectClassType == 'Standby'">
					<if test="searchType == 'member_nick'">AND N.MEMBER_NICK LIKE '%'||#{keyword}||'%'</if>
					<if test="searchType == 'product_title'">AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%'</if>
					<if test="searchType == 'category'">
						AND P.PRODUCT_CATEGORY = #{categorySelect}
						AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%'
					</if>
					AND Q.QNA_STATUS=0
			</if>
			<if test="selectClassType == 'Completed'">
				<if test="searchType == 'member_nick'">AND N.MEMBER_NICK LIKE '%'||#{keyword}||'%'</if>
				<if test="searchType == 'product_title'">AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%'</if>
				<if test="searchType == 'category'">
					AND P.PRODUCT_CATEGORY = #{categorySelect}
					AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%'
				</if>
				AND Q.QNA_STATUS=1
			</if>
		ORDER BY Q.QNA_DATE DESC
	</select>



 
	<select id="getQnaSearchList" parameterType="java.util.HashMap" resultMap="productReviewResultMap">
		SELECT P.PRODUCT_CATEGORY, P.PRODUCT_TITLE, P.PRODUCT_NUM, N.MEMBER_NICK, Q.QNA_NUM, Q.QNA_MEMBER, Q.QNA_PRODUCT, Q.QNA_DATE, 
		Q.QNA_CONTENT, Q.QNA_RE, Q.QNA_STATUS
		FROM PRODUCT P, PRODUCT_QNA Q, nagagu_workshop_member W, nagagu_member N
		WHERE P.PRODUCT_NUM =Q.QNA_PRODUCT
		AND W.WORKSHOP_NUM=P.PRODUCT_WORKSHOP
		AND W.WORKSHOP_NUM=#{WORKSHOP_NUM}
		AND Q.QNA_MEMBER=N.MEMBER_NUM
		<if test="searchType == 'member_nick'">AND N.MEMBER_NICK LIKE '%'||#{keyword}||'%'</if>
		<if test="searchType == 'product_title'">AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%'</if>
		<if test="searchType == 'category'">
			AND P.PRODUCT_CATEGORY = #{categorySelect}
			AND P.PRODUCT_TITLE LIKE '%'||#{keyword}||'%'
		</if>
		ORDER BY Q.QNA_DATE DESC	
	</select>



</mapper>