<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
create table PRODUCT_QNA(
    QNA_NUM          NUMBER PRIMARY KEY,
    QNA_MEMBER       NUMBER,
    QNA_PRODUCT      NUMBER,
    CONSTRAINT PRODUCT_REVIEW_NUM FOREIGN KEY (REVIEW_PRODUCT) 
        REFERENCES PRODUCT(PRODUCT_NUM)ON DELETE CASCADE, 
    QNA_DATE         DATE,
    QNA_CONTENT      VARCHAR2(1000),
    QNA_RE			NUMBER,
    QNA_STATUS		NUMBER
);


create sequence store_qna_seq
    start with 1
    increment by 1
    maxvalue 10000;


-->

<!-- 이 xml문서와 맵핑할 인터페이스 경로, 이름 -->
<mapper namespace="com.spring.mapper.ProductQnaMapper">
	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="QNA_NUM" column="QNA_NUM" />	
		<result property="QNA_MEMBER" column="QNA_MEMBER" />	
		<result property="QNA_PRODUCT" column="QNA_PRODUCT" />	
		<result property="QNA_DATE" column="QNA_DATE" />		
		<result property="QNA_CONTENT" column="QNA_CONTENT" />
		<result property="QNA_RE" column="QNA_RE" />
		<result property="QNA_STATUS" column="QNA_STATUS" />
	</resultMap>

	<resultMap type="java.util.HashMap" id="productQnaResultMap">
		<result property="QNA_NUM" column="QNA_NUM" />	
		<result property="QNA_MEMBER" column="QNA_MEMBER" />	
		<result property="QNA_PRODUCT" column="QNA_PRODUCT" />	
		<result property="QNA_DATE" column="QNA_DATE" />		
		<result property="QNA_CONTENT" column="QNA_CONTENT" />	
		<result property="QNA_RE" column="QNA_RE" />
		<result property="QNA_STATUS" column="QNA_STATUS" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />		
		<result property="MEMBER_PICTURE" column="MEMBER_PICTURE" />		
	</resultMap>

	<resultMap type="com.spring.store.Product_qnaVO" id="productVOQnaResultMap">
		<result property="QNA_NUM" column="QNA_NUM" />	
		<result property="QNA_MEMBER" column="QNA_MEMBER" />	
		<result property="QNA_PRODUCT" column="QNA_PRODUCT" />	
		<result property="QNA_DATE" column="QNA_DATE" />	
		<result property="QNA_CONTENT" column="QNA_CONTENT" />
		<result property="QNA_RE" column="QNA_RE" />		
		<result property="QNA_STATUS" column="QNA_STATUS" />
		<result property="MEMBER_NICK" column="MEMBER_NICK" />		
		<result property="MEMBER_PICTURE" column="MEMBER_PICTURE" />		
	</resultMap>
	
	<resultMap id="productQnaInfoResultMap" type="java.util.HashMap">
		<result column="QNA_NUM" property="QNA_NUM" javaType="java.lang.Integer"/>
		<result column="QNA_MEMBER" property="QNA_MEMBER"/>
		<result column="QNA_PRODUCT" property="QNA_PRODUCT"/>
		<result column="QNA_DATE" property="QNA_DATE"/>
		<result column="QNA_CONTENT" property="QNA_CONTENT"/>
		<result column="QNA_RE" property="QNA_RE"/>
		<result column="QNA_STATUS" property="QNA_STATUS" javaType="java.lang.Integer"/>
		<result column="MEMBER_NICK" property="MEMBER_NICK"/>
		<result column="MEMBER_PICTURE" property="MEMBER_PICTURE"/>
		<result column="PRODUCT_TITLE" property="PRODUCT_TITLE"/>
		<result column="PRODUCT_NUM" property="PRODUCT_NUM" javaType="java.lang.Integer"/>
		<result column="PRODUCT_CATEGORY" property="PRODUCT_CATEGORY"/>
	</resultMap>
	
	<resultMap type="com.spring.member.MemberVO" id="memberqnaResultMap">
		<result property="MEMBER_NUM" column="MEMBER_NUM" />	
		<result property="MEMBER_EMAIL" column="MEMBER_EMAIL" />	
		<result property="MEMBER_PASS" column="MEMBER_PASS" />	
		<result property="MEMBER_NAME" column="MEMBER_NAME" />	
		<result property="MEMBER_NICK" column="MEMBER_NICK" />	
		<result property="MEMBER_PHONE" column="MEMBER_PHONE" />	
		<result property="MEMBER_DATE" column="MEMBER_DATE" />	
		<result property="MEMBER_PICTURE" column="MEMBER_PICTURE" />	
		<result property="MEMBER_LIKE_PRODUCT" column="MEMBER_LIKE_PRODUCT" />	
		<result property="MEMBER_STATUS" column="MEMBER_STATUS" />
	</resultMap>
	
	
	<!-- 원글이 존재하는지 확인하기 위한 -->
	<select id="getQnaCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*) FROM PRODUCT_QNA WHERE QNA_PRODUCT=#{PRODUCT_NUM} AND QNA_RE = 0
	</select>
	
	<select id="getQna_RE_Count" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*) FROM PRODUCT_QNA WHERE QNA_PRODUCT=#{PRODUCT_NUM} AND QNA_RE != 0
	</select>
	
	<select id="getQnaList" parameterType="java.util.HashMap" resultMap="productQnaResultMap">
		SELECT * FROM
			(SELECT rownum rnum, QNA_NUM, QNA_MEMBER, QNA_PRODUCT, QNA_DATE, QNA_CONTENT, QNA_RE, QNA_STATUS, 
			MEMBER_NICK, MEMBER_PICTURE FROM 
				(SELECT Q.*, N.MEMBER_NICK, N.MEMBER_PICTURE FROM PRODUCT_QNA Q, NAGAGU_MEMBER N
				WHERE Q.QNA_PRODUCT=#{PRODUCT_NUM} AND Q.QNA_MEMBER=N.MEMBER_NUM AND Q.QNA_RE=0 ORDER BY Q.QNA_DATE DESC))
	</select>

	<select id="getQna_RE_List" parameterType="java.util.HashMap" resultMap="productQnaResultMap">
		SELECT * FROM
			(SELECT rownum rnum, QNA_NUM, QNA_MEMBER, QNA_PRODUCT, QNA_DATE, QNA_CONTENT, QNA_RE, QNA_STATUS, 
			WORKSHOP_NAME, WORKSHOP_PICTURE FROM 
				(SELECT Q.*, N.WORKSHOP_NAME, N.WORKSHOP_PICTURE FROM PRODUCT_QNA Q, NAGAGU_WORKSHOP_MEMBER N
				WHERE Q.QNA_PRODUCT=#{PRODUCT_NUM} AND Q.QNA_MEMBER=N.WORKSHOP_NUM AND Q.QNA_RE!=0 ORDER BY Q.QNA_DATE DESC))
	</select>
	
	
	<insert id="insertQna" parameterType="com.spring.store.Product_qnaVO">
		<selectKey keyProperty="QNA_NUM" resultType="int" order="AFTER">
				SELECT store_qna_seq.currval FROM dual
			</selectKey>
		INSERT INTO PRODUCT_QNA VALUES
		(store_qna_seq.nextval, #{QNA_MEMBER}, #{QNA_PRODUCT}, #{QNA_DATE}, #{QNA_CONTENT}, #{QNA_RE}, #{QNA_STATUS})
			
	</insert>	
	 
	 <update id="PlusQnaStatus" parameterType="com.spring.store.Product_qnaVO">
		UPDATE PRODUCT_QNA SET 
			QNA_STATUS=1
		WHERE QNA_NUM =#{QNA_RE} 
	</update>
	 
	 
	<select id="getQnaVO" parameterType="com.spring.store.Product_qnaVO" resultMap="productVOQnaResultMap">
		SELECT * FROM PRODUCT_QNA WHERE QNA_NUM=#{QNA_NUM} 
	</select>	 
	
	<select id="getQnaInfo" parameterType="com.spring.store.Product_qnaVO" resultMap="productQnaInfoResultMap">
		SELECT Q.QNA_NUM, Q.QNA_MEMBER, Q.QNA_PRODUCT, Q.QNA_DATE, Q.QNA_CONTENT, Q.QNA_RE, Q.QNA_STATUS,
		M.MEMBER_NICK, M.MEMBER_PICTURE , P.PRODUCT_TITLE, P.PRODUCT_NUM, P.PRODUCT_CATEGORY 
			FROM PRODUCT_QNA Q, NAGAGU_MEMBER M , PRODUCT P 
		WHERE Q.QNA_MEMBER = M.MEMBER_NUM 
		AND P.PRODUCT_NUM = Q.QNA_PRODUCT
        AND Q.QNA_MEMBER = M.MEMBER_NUM
		AND Q.QNA_NUM=#{QNA_NUM} 
	</select>	 
	
	<select id="getQnaReplyInfo" parameterType="com.spring.store.Product_qnaVO" resultMap="productVOQnaResultMap">
		SELECT * FROM PRODUCT_QNA WHERE QNA_RE=#{QNA_NUM}  
	</select>	 
	
	<update id="modifyQna" parameterType="com.spring.store.Product_qnaVO">
		UPDATE PRODUCT_QNA SET 
			QNA_DATE=#{QNA_DATE}, QNA_CONTENT=#{QNA_CONTENT}
		WHERE QNA_NUM =#{QNA_NUM} 
	</update>
	
	<select id="findChildrenRE" parameterType="com.spring.store.Product_qnaVO" resultType="int">
		SELECT count(*) FROM PRODUCT_QNA WHERE QNA_RE=#{QNA_NUM} 
	</select>	
	
	<delete id="deleteQna" parameterType="com.spring.store.Product_qnaVO">
		DELETE FROM PRODUCT_QNA WHERE QNA_NUM=#{QNA_NUM}
	</delete>		
	
	<select id="getqnaReCount" parameterType="com.spring.store.Product_qnaVO" resultType="int">
		select count(qna_re)
		from product_qna
		where qna_re= #{QNA_RE} 
	</select>
	

	
	<update id="MinusQnaStatus" parameterType="com.spring.store.Product_qnaVO">
		UPDATE PRODUCT_QNA SET 
			QNA_STATUS=0
		WHERE QNA_NUM =#{QNA_RE} 

	</update>
<!-- 
		UPDATE PRODUCT_QNA 
			SET QNA_STATUS=0
		WHERE ((SELECT QNA_STATUS FROM PRODUCT_QNA WHERE QNA_NUM=#{QNA_NUM}) = -1 )
		AND QNA_NUM = (SELECT QNA_RE FROM PRODUCT_QNA WHERE QNA_NUM=#{QNA_NUM} )

 -->	
	
<!--  
		UPDATE PRODUCT_QNA 
			SET QNA_STATUS=0
		WHERE QNA_STATUS = 1 
		AND QNA_NUM = (SELECT QNA_RE FROM PRODUCT_QNA WHERE QNA_NUM=#{QNA_NUM} )

-->
	 
</mapper>