@charset "UTF-8";

/* Reservation 부분 =====================================================   */
@font-face {
	font-family: 'KOMACON';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: '만화진흥원체', 'KOMACON', KOMACON;
	font-size: 15px;
}

.reservation-container {
	margin-top: 100px;
	margin-bottom: 100px;
}

.solid {
	border: 2px solid #8C92A0;
}

#class_title {
	margin-top: 4%;
	font-size: 2em;
	font-weight: bolder;
}

#horizon {
	margin-top: 2%;
}

#class_detailed {
	margin-top: 2%;
	padding: 5 10 10 5;
}

#detail {
	margin-top: 3%;
}

#progress_time {
	font-weight: bolder;
	font-size: large;
	margin-top: 40px;
}

div {
	margin: 1px 2px 3px 4px
}

#calendar {
	color: green;
}

#info {
	margin-top: 60px;
}

table {
	margin: 20px 0px 20px 0px;
}

#seller {
	margin-top: 60px;
}

td {
	width: 200px;
}

.table_text {
	width: 400px;
}