@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

img {
	width: 100%;
	height: 100%;
}

a, a:link, a:hover {
	text-decoration: none;
	color: black;;
}

body {
	font-family: 'Do Hyeon', sans-serif;
	font-family: 'hanna' !important;
}
.title>div {
	background-color: rgb(27, 27, 39);
	color: rgba(255, 255, 255, 0.8);
}

.main>.title {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0px auto;
}

.img-wrap {
	height: auto;
}

.main {
	border-bottom: 1px solid grey;
	border-color: rgba(0, 0, 0, 0.2);
	width: 75%;
	height: auto;
}

.sidebar {
	width: 25%;
	height: 25vh;
}

.sidebar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* ´ñ±Û */
.comments_table {
	font-size: 1rem;
}

@media ( max-width : 700px) {
	.comments_table {
		font-size: 0.7rem;
	}
}