body {
	font-family: 'Do Hyeon', sans-serif !important;
	 
}  
.container-mypage{
	margin-top: 100px ;
	margin-bottom: 100px ;
}
img {
	width: 90%;
	height: auto;
}

a, a:link, a:hover {
	text-decoration: none;
	color: white !important;
}

.card-hover:hover {
	transition: 1s;
	transform: scale(1.2);
	z-index: 1;
	box-shadow: 10px 15px 7px 0px #333333;
}

.card {
	background-color: #1b1b27 !important;
	margin: 15px 15px 15px 15px;
	color: white;
}
 
.my {
	background-color: #ef900e !important;
}

@media screen and (min-width: 600px) {
	.card {
		width: 10rem !important;
	}
}

@media screen and (max-width: 600px) {
	.card {
		width: 7rem;
		font-size: 0.5rem;
		margin: 5px 5px 5px 5px;
	}
}